 <!--<script type="text/javascript">
  $(function() {
    var submit_form = function(e) {
      $.getJSON($SCRIPT_ROOT + '/_hz', {
          value: $('input[name="my-vebors"]').val()
      },
      function(data) {
          $('#short-info').html(data.result).fadeIn()
      });
      return false;
    };
    $('input[type=button]').click(function(e) {
        submit_form(e)
    });
  });
</script>
 <script type="text/javascript">
     function mylichnoe(){
         document.getElementById('my-vibor').value="Личное"
     }
     function myresources(elementID){
         document.getElementById('my-vibor').value="Ресурсы"
     }
     function myfinance(){
         document.getElementById('my-vibor').value="Финансы"
     }
     function showHide(element_id) {
                //Если элемент с id-шником element_id существует
                if (document.getElementById(element_id)) {
                    //Записываем ссылку на элемент в переменную obj
                    var obj = document.getElementById(element_id);
                    //Если css-свойство display не block, то:
                    if (obj.style.display != "block") {
                        obj.style.display = "block"; //Показываем элемент
                    }
                    else obj.style.display = "none"; //Скрываем элемент
                }
                //Если элемент с id-шником element_id не найден, то выводим сообщение
                else alert("Элемент с id: " + element_id + " не найден!");
     }
 </script>
<div class="row">
    <div class="col s4">
        <input onclick="mylichnoe()" name="vibors" value="Личное" type="button" style="border-radius: 5px; background-color: #424242;height: 35px; width: 150px; color: #FFFFFF; border: 1px solid #424242; font-weight: bold;"/>
{#       <label for="vibors01" class="white-text">Личное</label>#}
        <a class="waves-effect waves-light btn #424242 grey darken-3" style="width: 150px;">Личное</a>
    </div>
    <div class="col s4">
        <input onclick="showHide('source-short') name="vibors" value="Ресурсы" type="button" style="border-radius: 5px; background-color: #424242;height: 35px; width: 150px; color: #FFFFFF; border: 1px solid #424242; font-weight: bold;"/>
{#        <label for="vibors02" class="white-text">Ресурсы</label>#}
    </div>
    <div class="col s4">
        <input onclick="myfinance()" name="vibors" value="Финансы" type="button" style="border-radius: 5px; background-color: #424242;height: 35px; width: 150px; color: #FFFFFF; border: 1px solid #424242; font-weight: bold;"/>
{#        <label for="vibors03" class="white-text">Финансы</label>#}
    </div>
    <input id="my-vibor" style="visibility: hidden" value="Личное" name="my-vebors">
</div>-->