<div class="collection">
    <a href="lk-{{ session["x_key"] }}" class="collection-item active #424242 grey darken-3">Моя страница</a>
    <a href="profile-user-card" class="collection-item black-text">Корзина услуг</a>
    <a href="profile-user-settings" class="collection-item black-text">Мои настройки</a>
</div>