<div class="collection">
    <a href="profile-page" class="collection-item black-text">Моя страница</a>
    <a href="profile-user-card" class="collection-item black-text">Корзина услуг</a>
    <a href="profile-user-settings" class="collection-item active #424242 grey darken-3">Мои настройки</a>
</div>