{% include "head.tpl" %}
{% include "nav_panel.tpl" %}
 <script type="text/javascript">
  $(function() {
    var submit_form = function(e) {
      $.getJSON($SCRIPT_ROOT + '/_search', {
                  a: $('input[name="a"]').val(),
                  b: $('input[name="filters"]:checked').val(),
                  s: $('button[name="see-more"]').val()
      },
      function(data) {
          $('#all').html(data.result).fadeIn()
      });
      return false;
    };
    $('input[type=text]').keyup(function(e) {
        submit_form(e);
    });
    $('input[type=radio]').change(function(e) {
        submit_form(e);
    });
      $('button[type=button]').click(function(e) {
          submit_form(e)
      });
  });
</script>

<script type="text/javascript">
    var count=15;
    function inc(N) {
        count += N;
        console.log(count);
        document.getElementById('see00').value = count;
    }
</script>
<script>
function getCookie(S) {
    alert(S);
    var date = new Date(new Date().getTime() + 1000 * 1000);
    document.cookie = "name" + S + "= " + S + "; path=/; expires=" + date.toUTCString();
}

function delCookie(S) {

    var date = new Date(0);
    document.cookie = "name=; path=/; expires=" + date.toUTCString();
}

$(function(){
if (!navigator.cookieEnabled) {
  alert( 'Включите cookie для комфортной работы с этим сайтом' );
}
})
</script>
    <!-- ХЕДДЕР -->
      <!-- НАЧАЛО ХЕДДЕРА -->
        <!-- ШАПКА (ЛОГОТИПЫ) И РОТАТОР ИЗОБРАЖЕНИЙ-->
    <div class="row">
          <!-- КОЛОНКА С ЛОГТИПОМ EXAMPLE (ФАКТИЧЕСКИ ШАПКА)-->
        {% include "logos.tpl" %}
          <!-- КОЛОНКА С ХЛЕБНЫМИ КРОШКАМИ -->
      <div class="col s12 #424242 grey darken-3">
      <br />&nbsp;&nbsp;&nbsp;<a href="index.html" class="right">Личный кабинет</a>&nbsp;
      <br />&nbsp;
      </div>
          <!-- КОЛОНКА С КОНТЕНТОМ -->
      <div class="col s12">
        <div class="col s2">&nbsp;</div>
        <div class="col s8">
            <h4>{{ success.fio }}</h4>
            <div class="col s3" style="width:190px">
              <center>
                <img width="170" src={{ url_for('static', filename='uploads/'+success.ava) }}>
              </center>
              {% include "lk_user/lk-user-nav-bar.tpl" %}
            </div>
            <div class="col s9">
              <!-- <div class="col s2" style="width:193px">
                <a class="waves-effect waves-light btn-large #424242 grey darken-3">Личное</a>
              </div>
                <div class="col s2" style="width:195px">
                  <a class="waves-effect waves-light btn-large #424242 grey darken-3">Ресурсы</a>
              </div>
              <div class="col s3" style="width:200px">
                <a class="waves-effect waves-light btn-large #424242 grey darken-3">Финансы</a>
              </div> -->
              {% include "lk_user/lk-user-nav-button-fot-ajax.tpl" %}
              {% include "lk_user/info_bloks.tpl" %}

                <div class="col s12">
                  <ul class="tabs">
                    <li class="tab col s3"><a class="active" href="#short-info">Краткая информация</a></li>
                    <li class="tab col s3"><a class="active" href="#full-info">Подробная информация</a></li>
                  </ul>
                </div>
                <br />&nbsp;
                <!--<div class="col s12 #424242 grey darken-3 white-text">
                  <h6>Последние операции</h6>
                </div>
                <div class="col s12">
                  <br />
                  Последние услуги
                  <div class="col s4">
                    <div class="chip col s 12">
                      <img src={{ url_for('static', filename='img/dynamic/default-avatar.jpg') }} alt="Последние операции">
                      Зачисление
                    </div>
                  </div>
                  <div class="col s4">
                    <div class="chip col s 12">
                      <img src={{ url_for('static', filename='img/dynamic/default-avatar.jpg') }} alt="Последние операции">
                      Зачисление
                    </div>
                  </div>
                  <div class="col s4">
                    <div class="chip col s 12">
                      <img src={{ url_for('static', filename='img/dynamic/default-avatar.jpg') }} alt="Последние операции">
                      Зачисление
                    </div>
                  </div>

                  <div class="col s12">&nbsp;</div>
                  <div class="col s4">
                    <div class="chip col s 12">
                      <img src={{ url_for('static', filename='img/dynamic/default-avatar.jpg') }} alt="Последние операции">
                      Зачисление
                    </div>
                  </div>
                  <div class="col s4">
                    <div class="chip col s 12">
                      <img src={{ url_for('static', filename='img/dynamic/default-avatar.jpg') }} alt="Последние операции">
                      Зачисление
                    </div>
                  </div>
                  <div class="col s4">
                    <div class="chip col s 12">
                      <img src={{ url_for('static', filename='img/dynamic/default-avatar.jpg') }} alt="Последние операции">
                      Зачисление
                    </div>
                  </div>-->
                <div class="col s 12">&nbsp;</div>
                </div>
              <form class="col s12">
                <div class="col s12 #424242 grey darken-3 white-text">
                    <div class="col s3">
                      <input class="with-gap" name="filters" type="radio" id="filter00" value="GEOTEL"/>
                      <label for="filter00" class="white-text">EXAMPLE</label>
                    </div>
                    <div class="col s3">
                      <input class="with-gap" name="filters" type="radio" id="filter01" value="NOMTEL"/>
                      <label for="filter01" class="white-text">EXAMPLE</label>
                    </div>
                    <div class="col s3">
                      <input class="with-gap" name="filters" type="radio" id="filter02" value="TOR"/>
                      <label for="filter02" class="white-text">EXAMPLE</label>
                    </div>
                    <div class="col s3">
                      <input class="with-gap" name="filters" type="radio" id="filter03" value="SIP"/>
                      <label for="filter03" class="white-text">СИП</label>
                    </div>
                    </div>
                    <div class="col s12">
                      <div class="input-field col s12">
                        <i class="material-icons prefix">search</i>
                        <input name="a" id="icon_prefix" type="text" class="validate">
                        <label for="search">Искать</label>
                      </div>
                    </div>
                   <div class="col s12 #424242 grey darken-3 white-text">
                        <div class="col s3">
                          <input class="with-gap" name="filters" type="radio" id="filter04" value="domen"/>
                          <label for="filter04" class="white-text">ДОМЕН</label>
                        </div>
                        <div class="col s3">
                          <input class="with-gap" name="filters" type="radio" id="filter05" value="user"/>
                          <label for="filter05" class="white-text">Пользователям</label>
                        </div>
                    </div>
              </form>
              </div>
              <div class="col s12">
                  <ul class="collection" id="all">

                  </ul>
                  <center>
                      <button name="see-more" type="button" value="15" id="see00" onclick="inc(15)" style="border-radius: 5px; background-color: #424242;height: 35px; width: 150px; color: #FFFFFF; border: 1px solid #424242; font-weight: bold;">Показать еще</button>
                  </center>
              </div>
            </div>
        </div>
        <div class="col s2">&nbsp;</div>
      </div>
    </div>

 {% include "footer.tpl" %}