{% include "head.tpl" %}
{% include "nav_panel.tpl" %}
<script>
function delCookie(cookie_name) {
    var cookie_date = new Date ( );  // Текущая дата и время
    cookie_date.setTime ( cookie_date.getTime() - 1 );
    document.cookie = cookie_name += "=; expires=" + cookie_date.toGMTString();
        location.reload()
}

$(function(){
if (!navigator.cookieEnabled) {
  alert( 'Включите cookie для комфортной работы с этим сайтом' );
}
})
</script>
    <!-- ХЕДДЕР -->
      <!-- НАЧАЛО ХЕДДЕРА -->
        <!-- ШАПКА (ЛОГОТИПЫ) И РОТАТОР ИЗОБРАЖЕНИЙ-->
    <div class="row">
          <!-- КОЛОНКА С ЛОГТИПОМ ТОР (ФАКТИЧЕСКИ ШАПКА)-->
        {% include "logos.tpl" %}
          <!-- КОЛОНКА С ХЛЕБНЫМИ КРОШКАМИ -->
      <div class="col s12 #424242 grey darken-3">
      <br />&nbsp;&nbsp;&nbsp;<a href="index.html" class="right">Личный кабинет</a>&nbsp;
      <br />&nbsp;
      </div>
          <!-- КОЛОНКА С КОНТЕНТОМ -->
        <div class="col s12">
        <div class="col s2">&nbsp;</div>
        <div class="col s8">
            <h4>{{ success.fio }}</h4>
            <div class="col s3" style="width:190px">
              <center>
                <img width="170" src={{ url_for('static', filename='uploads/'+success.ava) }}>
              </center>
                {% include "lk_user/lk-user-nav-bar.tpl" %}
            </div>
            <div class="col s9">
            {% include "lk_user/lk-user-nav-button-fot-ajax.tpl" %}
                {% include "lk_user/info_bloks.tpl" %}
                <div class="col s12">
                  <ul class="tabs">
                    <li class="tab col s3"><a class="active" href="#short-info">Краткая информация</a></li>
                    <li class="tab col s3"><a class="active" href="#full-info">Подробная информация</a></li>
                  </ul>
                </div>
                <br />&nbsp;
                <!--<div class="col s12 #424242 grey darken-3 white-text">
                  <h6>Последние операции</h6>
                </div>
                <div class="col s12">
                  <br />
                  Последние услуги
                  <div class="col s4">
                    <div class="chip col s 12">
                      <img src={{ url_for('static', filename='img/dynamic/default-avatar.jpg')}} alt="Последние операции">
                      Зачисление
                    </div>
                  </div>
                  <div class="col s4">
                    <div class="chip col s 12">
                      <img src={{ url_for('static', filename='img/dynamic/default-avatar.jpg')}} alt="Последние операции">
                      Зачисление
                    </div>
                  </div>
                  <div class="col s4">
                    <div class="chip col s 12">
                      <img src={{ url_for('static', filename='img/dynamic/default-avatar.jpg')}} alt="Последние операции">
                      Зачисление
                    </div>
                  </div>
                  ВТОРАЯ ЛИНИЯ
                  <div class="col s12">&nbsp;</div>
                  <div class="col s4">
                    <div class="chip col s 12">
                      <img src={{ url_for('static', filename='img/dynamic/default-avatar.jpg')}} alt="Последние операции">
                      Зачисление
                    </div>
                  </div>
                  <div class="col s4">
                    <div class="chip col s 12">
                      <img src={{ url_for('static', filename='img/dynamic/default-avatar.jpg')}} alt="Последние операции">
                      Зачисление
                    </div>
                  </div>
                  <div class="col s4">
                    <div class="chip col s 12">
                      <img src={{ url_for('static', filename='img/dynamic/default-avatar.jpg')}} alt="Последние операции">
                      Зачисление
                    </div>
                  </div>-->
                  <div class="col s 12">&nbsp;</div>
                </div>
                <div class="col s12 #424242 grey darken-3 white-text">
                  <h6>Корзина услуг</h6>
                </div>
                <div class="col s12">
                  <ul class="collection">
                    {% for korzina in uslugi %}
                        <li class="collection-item avatar">
                            <i class="material-icons circle">folder</i>
                            <span class="title">{{ korzina.phone }}</span>
                            <p>Данный номер: {{ korzina.instans_phone }} <br> Принадлежит: {{ korzina.type_operator }}<br />
                               Небольшое описание по условиям предоставления усулуги.<br />
                               <strong>Стоимость услуги: {{ korzina.summa }}</strong> &nbsp;
                            </p>
                            <a onclick="delCookie('name{{ korzina.phone }}')" class="secondary-content btn #424242 grey darken-3">Убрать</a>
                        </li>
                    {% endfor %}
                  </ul>
                  <div class="col s12">
                      <center>
                        <a href="order_by" class="btn #424242 grey darken-3">Оформить заявку</a>
                      </center>
                    </div>
                  <div class="col s12">&nbsp;</div>
                </div>
                <div class="col s12 #424242 grey darken-3 white-text">
                  <h6>Мои услуги</h6>
                </div>
                <div class="col s12">
                  <div class="row">
                    <div class="col s12">
                      <ul class="tabs">
                        <li class="tab col s4"><a href="#task-services" class="active">На рассмотрении</a></li>
                        <li class="tab col s4"><a href="#active-services">Активные услуги</a></li>
                        <li class="tab col s4"><a href="#trash-services">Закрытые услуги</a></li>
                      </ul>
                    </div>
                      <div id="task-services" class="col s12">
                          <ul class="collapsible popout" data-collapsible="accordion">
                              {% for i in success.orders %}
                                {% if i.etap=="На рассмотрении" %}
                                    <li>
                                      <div class="collapsible-header"><i class="material-icons">library_books</i>Заявка {{ i.nomer_order }}</div>
                                      <div class="collapsible-body">
                                          <div class="row">
                                              <div class="col s1">&nbsp;</div>
                                              <div class="col s10">
                                                  <div class="row">
                                                      <div class="col s12"><strong>Дата оформления:</strong>&nbsp;{{ i.data }}<br /></div>
                                                      <div class="col s12">
                                                          <strong>Домены:</strong>&nbsp;{% for j in i.domens %}<div class="chip">{{ j.domen_name }}</div>{% endfor %}
                                                      </div>
                                                      <div class="col s12">
                                                          <br /><strong>Номера телефонов:</strong>&nbsp;{% for k in i.phone_numbers %}<div class="chip">{{ k.phone }}</div>{% endfor %}
                                                      </div>
                                                  </div>
                                                  <div class="row">
                                                      <div class="col s4">&nbsp;</div>
                                                      <div class="col s4">
                                                          <form method="POST">
                                                                  <button class="btn #424242 grey darken-3 white-text" type="submit" name="chanel_order" value={{ i.nomer_order }}>Отменить</button>
                                                          </form>
                                                      <div class="col s4">&nbsp;</div>
                                                  </div>
                                              </div>
                                              <div class="col s1">&nbsp;</div>
                                          </div>
                                        </div>
                                    </li>
                                {% endif %}
                              {% endfor %}
                          </ul>
                      </div>
                      <div id="active-services" class="col s12">
                        <ul class="collapsible popout" data-collapsible="accordion">
                            {% for i in success.orders %}
                                {% if i.etap=="Договор" %}
                                  <li>
                                    <div class="collapsible-header"><i class="material-icons">library_books</i>Договор {{ i.nomer_order }}</div>
                                    <div class="collapsible-body">
                                      <div class="row">
                                          <div class="col s1">&nbsp;</div>
                                          <div class="col s10">
                                              <div class="row">
                                                  <div class="col s12"><strong>Дата заключения:</strong>&nbsp;{{ i.data_open  }}</div>
                                                  <div class="col s12">
                                                        <strong>Домены:</strong>&nbsp;{% for j in i.domens %}<div class="chip">{{ j.domen_name }}</div>{% endfor %}
                                                    </div>
                                                    <div class="col s12">
                                                        <br /><strong>Номера телефонов:</strong>&nbsp;{% for k in i.phone_nimbers %}<div class="chip">{{ k.phone }}</div>{% endfor %}
                                                    </div>
                                              </div>
                                              <div class="row">
                                                  <div class="col s1">&nbsp;</div>
                                                      <div class="col s10">
                                                            <form method="GET">
                                                              <div class="input-field col s12">
                                                                  <textarea name="reson" id="reson_closed" class="materialize-textarea"></textarea>
                                                                  <label for="reson_closed">Причина закрытия</label>
                                                              </div>
                                                              <div class="col s12">
                                                                  <button class="btn #424242 grey darken-3 white-text" type="submit" name="close_order" value={{ i.nomer_order }}>Закрыть</button>
                                                              </div>
                                                          </form>
                                                      </div>
                                                      <div class="col s1">&nbsp;</div>
                                              </div>
                                          </div>
                                          <div class="col s1">&nbsp;</div>
                                      </div>

                                    </div>
                                  </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                      </div>
                      <div id="trash-services" class="col s12">
                        <ul class="collapsible popout" data-collapsible="accordion">
                             {% for i in success.orders %}
                                 {%  if i.etap=="Закрыт" %}
                                  <li>
                                    <div class="collapsible-header"><i class="material-icons">library_books</i>Договор {{ i.nomer_order }}</div>
                                    <div class="collapsible-body">
                                        <div class="row">
                                            <div class="col s1">&nbsp;</div>
                                            <div class="col s10">
                                                <div class="row">
                                                    <div class="col s12">
                                                        <strong>Дата заключения:</strong>&nbsp;{{ i.data_open  }}<br />
                                                        <strong>Дата закрытия:</strong>&nbsp;{{ i.data_closed }}<br />
                                                    </div>
                                                    <div class="col s12">
                                                        <strong>Домены:</strong>&nbsp;{% for j in i.domens %}<div class="chip">{{ j.domen_name }}</div>{% endfor %}
                                                    </div>
                                                    <div class="col s12">
                                                        <br /><strong>Номера телефонов:</strong>&nbsp;{% for k in i.phone_nimbers %}<div class="chip">{{ k.phone }}</div>{% endfor %}
                                                    </div>
                                                    <div class="col s12">
                                                        <strong>Причина закрытия:</strong>&nbsp;<em>{{ i.reson_closed }}</em><br />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col s1">&nbsp;</div>
                                        </div>
                                    </div>
                                  </li>
                                 {% endif %}
                            {% endfor %}
                        </ul>
                      </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="col s2">&nbsp;</div>
      </div>
    </div>

 {% include "footer.tpl" %}