{% include "head.tpl" %}

{% include "nav_panel.tpl" %}
    <!-- ХЕДДЕР -->
      <!-- НАЧАЛО ХЕДДЕРА -->
        <!-- ШАПКА (ЛОГОТИПЫ) И РОТАТОР ИЗОБРАЖЕНИЙ-->
    <div class="row">
          <!-- КОЛОНКА С ЛОГТИПОМ ТОР (ФАКТИЧЕСКИ ШАПКА)-->
        {% include "logos.tpl" %}
          <!-- КОЛОНКА С ХЛЕБНЫМИ КРОШКАМИ -->
      <div class="col s12 #424242 grey darken-3">
      <br />&nbsp;&nbsp;&nbsp;<a href="index.html" class="right">Личный кабинет</a>&nbsp;
      <br />&nbsp;
      </div>
          <!-- КОЛОНКА С КОНТЕНТОМ -->
     <div class="col s12">
        <div class="col s2">&nbsp;</div>
        <div class="col s8">
            <h4>{{ success.fio }}</h4>
            <div class="col s3" style="width:190px">
              <center>
                <img width="170" src={{ url_for('static', filename='uploads/'+success.ava) }}>
              </center>
                {% include "lk_user/lk-user-nav-bar.tpl" %}
            </div>
            <div class="col s9">
                {% include "lk_user/lk-user-nav-button-fot-ajax.tpl" %}
                {% include "lk_user/info_bloks.tpl" %}

                <div class="col s12">
                  <ul class="tabs">
                    <li class="tab col s3"><a class="active" href="#short-info">Краткая информация</a></li>
                    <li class="tab col s3"><a class="active" href="#full-info">Подробная информация</a></li>
                  </ul>
                </div>
                <br />&nbsp;
                <!--<div class="col s12 #424242 grey darken-3 white-text">
                  <h6>Последние операции</h6>
                </div>
                <div class="col s12">
                  <br />

                  <div class="col s4">
                    <div class="chip col s 12">
                      <img src={{ url_for('static', filename='img/dynamic/default-avatar.jpg') }} alt="Последние операции">
                      Зачисление
                    </div>
                  </div>
                  <div class="col s4">
                    <div class="chip col s 12">
                      <img src={{ url_for('static', filename='img/dynamic/default-avatar.jpg') }} alt="Последние операции">
                      Зачисление
                    </div>
                  </div>
                  <div class="col s4">
                    <div class="chip col s 12">
                      <img src={{ url_for('static', filename='img/dynamic/default-avatar.jpg') }} alt="Последние операции">
                      Зачисление
                    </div>
                  </div>

                  <div class="col s12">&nbsp;</div>
                  <div class="col s4">
                    <div class="chip col s 12">
                      <img src={{ url_for('static', filename='img/dynamic/default-avatar.jpg') }} alt="Последние операции">
                      Зачисление
                    </div>
                  </div>
                  <div class="col s4">
                    <div class="chip col s 12">
                      <img src={{ url_for('static', filename='img/dynamic/default-avatar.jpg') }} alt="Последние операции">
                      Зачисление
                    </div>
                  </div>
                  <div class="col s4">
                    <div class="chip col s 12">
                      <img src={{ url_for('static', filename='img/dynamic/default-avatar.jpg') }} alt="Последние операции">
                      Зачисление
                    </div>
                  </div> -->
                  <div class="col s 12">&nbsp;</div>
                </div>
                <div class="col s12 #424242 grey darken-3 white-text">
                  <h6>Мои настройки</h6>
                </div>
                <div class="col s12">
                  <form method="POST" enctype="multipart/form-data">
                    <div class="row">
                        <div class="row">
                            <div class="col s12">
                                <ul class="tabs">
                                    <li class="tab col s3"><a href="#main-info">Общие</a></li>
                                    <li class="tab col s3"><a href="#my-work">Деятельность</a></li>
                                    <li class="tab col s3"><a href="#my-contacts">Контакты</a></li>
                                </ul>
                            </div>
                            <div class="col s12" id="main-info">
                                <ul class="collapsible popout" data-collapsible="accordion">
                                    <li>
                                        <div class="collapsible-header"><i class="material-icons">perm_media</i>Аватар и данные системы</div>
                                        <div class="collapsible-body">
                                            <div class="row">
                                                <div class="col s1">&nbsp;</div>
                                                <div class="col s10">

                                                     <h5>Аватар</h5>
                                                <div class="file-field input-field">
                                                    <div class="btn #424242 grey darken-3">
                                                        <span>Аватар</span>
                                                        <input type="file" name="file">
                                                    </div>
                                                    <div class="file-path-wrapper">
                                                        <input class="file-path validate" type="text" placeholder={{ success.ava }}>
                                                    </div>
                                                </div>
                                                <h5>Данные системы</h5>
                                                    <div class="input-field col s12">
                                                        <input disabled type="text" id="disabled" name="myuin" class="validate" value={{ success.unique_nomer }}>
                                                        <label for="disabled">UIN</label>
                                                    </div>
                                                  <div class="input-field col s12">
                                                    <input value={{ success.login }} id="user-name" type="text" class="validate" name="mylogin">
                                                    <label class="active" for="user-name">Логин</label>
                                                  </div>
                                                  <h6>Смена пароля</h6>
                                                  <div class="input-field col s12">
                                                    <input value={{ success.password }} id="new-user-password" type="password" class="validate" name="my-new-pwd-0">
                                                    <label for="new-user-password">Новый пароль</label>
                                                  </div>
                                                <div class="input-field col s12">
                                                    <input value={{ success.password }} id="accept-new-user-password" type="password" class="validate" name="my-new-pwd-1">
                                                    <label for="accept-new-user-password">Еще один новый пароль</label>
                                                  </div>
                                                </div>
                                                <div class="col s1">&nbsp;</div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="collapsible-header"><i class="material-icons">perm_identity</i>Личные данные</div>
                                        <div class="collapsible-body">
                                            <div class="row">
                                                <div class="col s1">&nbsp;</div>
                                                <div class="col s10">
                                                    <div class="input-field col s12">
                                                        <textarea id="textareafio" class="materialize-textarea" length="64" name="my-fio">{{ success.fio }}</textarea>
                                                        <label for="textareafio">Фамилия, Имя, Отчество</label>
                                                      </div>
                                                    <div class="input-field col s12">
                                                        <input value={{ success.data_birth }} id="birthday-date" type="date" class="validate" name="my-birth">
                                                        <label class="active" for="birthday-date">День рождения</label>
                                                      </div>
                                                      <div class="input-field col s12">
                                                        <input value={{ success.gender }} id="user-sex" type="text" class="validate" name="my-sex">
                                                        <label class="active" for="user-sex">Пол</label>
                                                      </div>
                                                      <div class="input-field col s12">
                                                        <input value={{ success.family }} id="family-status" type="text" class="validate" name="my-family">
                                                        <label class="active" for="family-status">Семейное положение</label>
                                                      </div>
                                                      <div class="input-field col s12">
                                                            <h5>Языки, которые вы значете</h5>
                                                            <div class="row">
                                                                <div class="col 12">
                                                                    <a href="#modal-language" class="btn-floating btn-large #424242 grey darken-3 white-text modal-trigger"><i class="material-icons">add</i></a>
                                                                    {% for i in success.language %}
                                                                        <div class="chip">{{ i.language_name }}</div>
                                                                    {% endfor %}
                                                                </div>
                                                            </div>
                                                       </div>
                                                </div>
                                                <div class="col s1">&nbsp;</div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="col s12" id="my-work">
                                <ul class="collapsible popout" data-collapsible="accordion">
                                    <li>
                                        <div class="collapsible-header"><i class="material-icons">dashboard</i>Образование</div>
                                        <div class="collapsible-body">
                                            <div class="row">
                                                <div class="col s1">&nbsp;</div>
                                                <div class="col s10">
                                                    <ul class="collapsible" data-collapsible="accordion">
                                                        {% for i in success.forming %}
                                                        <li>
                                                            <div class="collapsible-header"><i class="material-icons">dashboard</i>{{ i.forming_name }}</div>
                                                            <div class="collapsible-body">
                                                                <div class="row">
                                                                    <div class="col s1">&nbsp;</div>
                                                                    <div class="col s10">
                                                                        <div class="row">
                                                                           <div class="col s12">
                                                                               <strong>Дата поступления:</strong>&nbsp;{{ i.forming_from }}<br />
                                                                               <strong>Дата окончания:</strong>&nbsp;{{ i.forming_to }}
                                                                           </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col s1">&nbsp;</div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                                <div class="col s1">&nbsp;</div>
                                            </div>
                                            <div class="row">
                                                <div class="col s4">&nbsp;</div>
                                                <div class="col s4"><a href="#modal-education" class="btn #424242 grey darken-3 white-text modal-trigger">Добавить</a></div>
                                                <div class="col s4">&nbsp;</div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="collapsible-header"><i class="material-icons">work</i>Место работы</div>
                                        <div class="collapsible-body">
                                            <div class="row">
                                                <div class="col s1">&nbsp;</div>
                                                <div class="col s10">
                                                    <ul class="collapsible" data-collapsible="accordion">
                                                        {% for i in success.jobs %}
                                                        <li>
                                                            <div class="collapsible-header"><i class="material-icons">work</i>{{ i.company }}</div>
                                                            <div class="collapsible-body">
                                                                <div class="row">
                                                                    <div class="col s1">&nbsp;</div>
                                                                    <div class="col s10">
                                                                        <div class="col s12">
                                                                            <strong>Наименование должности:</strong>&nbsp;{{ i.position }}<br />
                                                                            <strong>Работал с:</strong>&nbsp;{{ i.work_from }}<br />
                                                                            <strong>Работад до:</strong>&nbsp;{{ i.work_to }}<br />
                                                                        </div>
                                                                    </div>
                                                                    <div class="col s1">&nbsp;</div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                                <div class="col s1">&nbsp;</div>
                                            </div>
                                            <div class="row">
                                                <div class="col s4">&nbsp;</div>
                                                <div class="col s4"><a href="#modal-work" class="btn #424242 grey darken-3 white-text modal-trigger">Добавить</a></div>
                                                <div class="col s4">&nbsp;</div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="col s12" id="my-contacts">
                               <ul class="collapsible popout" data-collapsible="accordion">
                                   <li>
                                       <div class="collapsible-header"><i class="material-icons">language</i>Социальные сети</div>
                                       <div class="collapsible-body">
                                           <div class="row">
                                               <div class="col s1">&nbsp;</div>
                                               <div class="col s10">
                                                   <ul class="collapsible" data-collapsible="accordion">
                                                      {% for i in success.social %}
                                                      <li>
                                                          <div class="collapsible-header"><i class="material-icons">web</i>{{ i.social_name }}</div>
                                                          <div class="collapsible-body">
                                                              <div class="row">
                                                                  <div class="col s1">&nbsp;</div>
                                                                  <div class="col s10">
                                                                      <div class="row">
                                                                          <div class="col s12">
                                                                              <strong>ВКонтакте:</strong>&nbsp;<a href="{{ i.vk }}">{{ i.vk }}</a><br />
                                                                              <strong>Одноклассники:</strong>&nbsp;<a href="{{ i.odnoklassniki }}">{{ i.odnoklassniki }}</a><br />
                                                                              <strong>Мой мир:</strong>&nbsp;<a href="{{ i.moi_mir }}">{{ i.moi_mir }}</a><br />
                                                                              <strong>Facebook:</strong>&nbsp;<a href="{{ i.facebook }}">{{ i.facebook }}</a><br />
                                                                              <strong>Google&nbsp;+:</strong>&nbsp;<a href="{{ i.google_plus }}">{{ i.google_plus }}</a><br />
                                                                              <strong>Twitter:</strong>&nbsp;<a href="{{ i.twitter }}">{{ i.twitter }}</a><br />
                                                                              <strong>Instagram:</strong>&nbsp;<a href="{{ i.instagram }}">{{ i.instagram }}</a><br />
                                                                              <strong>Picasa:</strong>&nbsp;<a href="{{ i.picasa }}">{{ i.picasa }}</a><br />
                                                                              <strong>LinkedIn:</strong>&nbsp;<a href="{{ i.linkedin }}">{{ i.linkedin }}</a>
                                                                          </div>
                                                                      </div>
                                                                  </div>
                                                                  <div class="col s1">&nbsp;</div>
                                                              </div>
                                                          </div>
                                                      </li>
                                                      {% endfor %}
                                                  </ul>
                                               </div>
                                               <div class="row">
                                                   <div class="col s4">&nbsp;</div>
                                                   <div class="col s4"><a href="#modal-social" class="btn #424242 grey darken-3 white-text modal-trigger">Добавить</a></div>
                                                   <div class="col s4">&nbsp;</div>
                                               </div>
                                               <div class="col s1">&nbsp;</div>
                                           </div>
                                       </div>
                                   </li>
                                   <li>
                                       <div class="collapsible-header"><i class="material-icons">dialpad</i>Контакты</div>
                                       <div class="collapsible-body">
                                           <div class="row">
                                               <div class="col s1">&nbsp;</div>
                                               <div class="col s10">
                                                   <ul class="collapsible" data-collapsible="accordion">
                                                       {% for i in success.contacts %}
                                                       <li>
                                                           <div class="collapsible-header"><i class="material-icons">perm_phone_msg</i>{{ i.contacts_name }}</div>
                                                           <div class="collapsible-body">
                                                               <div class="row">
                                                                   <div class="col s1">&nbsp;</div>
                                                                   <div class="col s10">
                                                                       <div class="row">
                                                                           <div class="col s12">
                                                                               <strong>{{ i.jobs_phone_name }}:</strong>&nbsp;{{ i.jobs_phone }}<br />
                                                                               <strong>{{ i.home_phone_name }}:</strong>&nbsp;{{ i.home_phone }}<br />
                                                                               <strong>{{ i.mobile_phone_name }}:</strong>&nbsp;{{ i.mobile_phone }}<br />
                                                                               <strong>Дополнительный email:</strong>&nbsp;{{ i.dopemail }}
                                                                           </div>
                                                                       </div>
                                                                   </div>
                                                                    <div class="col s1">&nbsp;</div>
                                                               </div>
                                                           </div>
                                                       </li>
                                                       {% endfor %}
                                                   </ul>
                                                   <div class="row">
                                                       <div class="col s4">&nbsp;</div>
                                                       <div class="col s4"><a href="#modal-contacts" class="btn #424242 grey darken-3 white-text modal-trigger">Добавить</a></div>
                                                       <div class="col s4">&nbsp;</div>
                                                   </div>
                                               </div>
                                               <div class="col s1">&nbsp;</div>
                                           </div>
                                       </div>
                                   </li>
                               </ul>
                            </div>
                        </div>
                      <div class="col s12">
                          <!-- Модальный костыль -->
                          {% include "modals.tpl" %}
                        <center>
                          <button class="btn #424242 grey darken-3 white-text" type="submit" name="save">Сохранить изменения</button>
                        </center>
                      </div>
                    </div>
                  </form>
                </div> 
              </div>
            </div>
        </div>
        <div class="col s2">&nbsp;</div>
      </div>
    </div>

 {% include "footer.tpl" %}