{% include "head.tpl" %}
{% include "nav_panel.tpl" %}
<script>
    function delCookie(cookie_name) {
    var cookie_date = new Date ( );  // Текущая дата и время
    cookie_date.setTime ( cookie_date.getTime() - 1 );
    document.cookie = cookie_name += "=; expires=" + cookie_date.toGMTString();
        location.reload()
}

$(function(){
if (!navigator.cookieEnabled) {
  alert( 'Включите cookie для комфортной работы с этим сайтом' );
}
})
</script>
    <!-- ХЕДДЕР -->
      <!-- НАЧАЛО ХЕДДЕРА -->
        <!-- ШАПКА (ЛОГОТИПЫ) И РОТАТОР ИЗОБРАЖЕНИЙ-->
    <div class="row">
          <!-- КОЛОНКА С ЛОГТИПОМ ТОР (ФАКТИЧЕСКИ ШАПКА)-->
        {% include "logos.tpl" %}
          <!-- КОЛОНКА С ХЛЕБНЫМИ КРОШКАМИ -->
      <div class="col s12 #424242 grey darken-3">
      <br />&nbsp;&nbsp;&nbsp;<a href="/" class="white-text">Главная /</a>&nbsp;<a href="register-ticket.html">Оформить заявку</a>
      <br />&nbsp;
      </div>
          <!-- КОЛОНКА С КОНТЕНТОМ -->
      <div class="col s12">
        <div class="col s12">
          <center>
            <h4>Оформление заявки на услугу</h4>
            <img src={{ url_for('static', filename="img/defaults/tlogo_1.png") }}>
            <br />&nbsp;
          </center>
          <div class="row">
            <div class="col s2">&nbsp;</div>
            <div class="col s8">
               <div class="row">
                <div class="col s12">
                  <div class="card #212121 grey darken-4">
                    <div class="card-content white-text">
                      <span class="card-title">Оформлеие заявки и/или регистрация</span>
                      <p>Для того, чтобы оформить заявку - Вы должны завести учетную запись на данном ресурсе. Сделать это очень просто - просто заполните все пункты оформления заявики и мы отправим Вам на почту логин и пароль.</p>
                      <div class="row">
                        <form method="POST">
                          <div class="row">
                            {% if error %}
                                <a style="background: red"> {{ error }} </a>
                            {% endif %}
                            <h5>Контактные данные</h5>
                            <div class="input-field col s12">
                                <i class="material-icons prefix">perm_identity</i>
                                <input id="icon_name" name="nameuser" type="text" class="validate">
                                <label for="icon_name">Ваше имя</label>
                            </div>
                            <div class="input-field col s12">
                                <i class="material-icons prefix">phone</i>
                                <input id="icon_telephone" name="phone" type="tel" class="validate">
                                <label for="icon_telephone">Номер мобильного телефона</label>
                            </div>
                            <div class="input-field col s12">
                                <i class="material-icons prefix">email</i>
                                <input id="icon_email" type="text" name="email" class="validate">
                                <label for="icon_email">Адрес электронной почты</label>
                            </div>
                          </div>
                          <div class="col s12 black-text">
                            <ul class="collection">
                                {% for korzina in car %}
                              <li class="collection-item avatar">
                                <i class="material-icons circle">folder</i>
                                <span class="title">{{ korzina.phone }}</span>
                                <p>Данный номер: {{ korzina.instans_phone }} <br> Принадлежит: {{ korzina.type_operator }}<br />
                                   Небольшое описание по условиям предоставления усулуги.<br />
                                   <strong>Стоимость услуги: {{ korzina.summa }}</strong> &nbsp;
                                </p>
                                <a  onclick="delCookie('name{{ korzina.phone }}')" class="secondary-content btn #424242 grey darken-3">Убрать</a>
                              </li>
                                {% endfor %}
                            </ul>
                          </div>
                    <div class="card-action">
                      <center>
                        <button class="btn #424242 grey darken-3" type="submit" name="action">Оформить заказ<i class="material-icons right">shopping_basket</i></button>
                      </center>
                    </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col s2">&nbsp;</div>
          </div>
          <!-- Форма поиска -->
        </div>
      </div>
    </div>

 {% include "footer.tpl" %}