{% include "test/layout.html" %}
{% include "modal_view.tpl" %}
{% include "nav_panel.tpl" %}

<script type="text/javascript">
  $(function() {
    var submit_form = function(e) {
      $.getJSON($SCRIPT_ROOT + '/_search', {
          a: $('input[name="a"]').val()
      },
      function(data) {
{#          result = data.result#}
{#          alert(result)#}
          $('.collection').html(data.result).fadeIn()
{#          $('input[name=a]').focus().select();#}
      });
      return false;
    };
{#$('input[type=text]').bind('click', submit_form);#}
{#    $('a#calculate').bind('click', submit_form);#}
    $('input[type=text]').bind('keyup', function(e) {
        submit_form(e);
    });
{#    $('input[name=a]').focus();#}

  });
</script>
    <div class="row">
        <div class="col s4">&nbsp;</div>
        <div class="col s4">&nbsp;</div>
        <div class="col s4">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col s4">&nbsp;</div>
        <div class="col s4">&nbsp;</div>
        <div class="col s4">&nbsp;</div>
    </div>

    <div class="row">
        <div class="col s2">&nbsp;</div>
			<div class="col s8">
                 <div class="row">
	        <div class="col s12">
	          <div class="card blue-grey #e8eaf6 indigo lighten-5">
	            <div class="card-content black-text">
	              <span class="card-title">Введите логин и пароль</span>
	              <p>
	              <center><img src="{{ url_for('static', filename='img/logo.png') }}" height="196" width="330"></p></center>
                 <div class="slider">
                    <ul class="slides">
                      <li>
                        <img src="http://lorempixel.com/580/250/nature/1"> <!-- random image -->
                        <div class="caption center-align">
                          <h3>Большой заголовок H3</h3>
                          <h5 class="light grey-text text-lighten-3">Слоган к слайду!</h5>
                        </div>
                      </li>
                      <li>
                        <img src="http://lorempixel.com/580/250/nature/2"> <!-- random image -->
                        <div class="caption left-align">
                          <h3>Большой заголовок H3</h3>
                          <h5 class="light grey-text text-lighten-3">Слоган к слайду!</h5>
                        </div>
                      </li>
                      <li>
                        <img src="http://lorempixel.com/580/250/nature/3"> <!-- random image -->
                        <div class="caption right-align">
                          <h3>Большой заголовок H3</h3>
                          <h5 class="light grey-text text-lighten-3">Слоган к слайду!</h5>
                        </div>
                      </li>
                      <li>
                        <img src="http://lorempixel.com/580/250/nature/4"> <!-- random image -->
                        <div class="caption center-align">
                          <h3>Большой заголовок H3</h3>
                          <h5 class="light grey-text text-lighten-3">Слоган к слайду!!</h5>
                        </div>
                      </li>
                    </ul>
                  </div>
                <!-- ПОИСК ###############################-->
                <div class="row">
                    <form action="" class="col s12">
                        <div class="input-field col s12">

                            <input type="text" name="a" class="validate">
                            <label for="search">Введите номер телефона</label>
                        </div>
                    </form>
                </div>
                <!-- AJAX ###############################-->
                    <ul class="collection"></ul>
                 <!-- AJAX ################################-->

            <div class="row"></div>
	        </div>
	            <div class="card-action">
	              <a href="main.html" class="btn #283593 indigo darken-3 white-text">Телефонные номера</a>
	              <a href="main-domains.html" class="btn #283593 indigo darken-3 white-text">Домены</a>
	            </div>
	          </div>
	        </div>
	      </div>
        </div>
			<div class="col s2">&nbsp;</div>
		</div>
        <!-- Окончание формы логинизации-->
        <!-- Отступы после формы -->
        <div class="row">
          <div class="col s4">&nbsp;</div>
          <div class="col s4">&nbsp;</div>
          <div class="col s4">&nbsp;</div>
        </div>
   		<div class="row">
			<div class="col s4">&nbsp;</div>
			<div class="col s4">&nbsp;</div>
			<div class="col s4">&nbsp;</div>
		</div>

 {% include "footer.tpl" %}