<!DOCTYPE html>
<html lang="en">
<head>
{#    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/materialize.min.css') }}" >#}

    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/materialize.css') }} " >

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

      <meta charset="utf-8">
{#    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>#}
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}"  media="screen,projection"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

{#    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.4.min.js') }}"></script>#}
    <script type="text/javascript" src="{{ url_for('static', filename='js/materialize.js') }}"></script>

      <script type="text/javascript">
         $(document).ready(function(){
            $('.modal-trigger').leanModal();
          });
      </script>
      <script type="text/javascript">
         $(document).ready(function(){
            $('ul.tabs').tabs();
          });
      </script>
      <script type="text/javascript">
          $(document).ready(function(){
            $('.collapsible').collapsible({
              accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
            });
          });
      </script>
<script type="text/javascript"
  src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript">
  var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
</head>
<body>