{% include "head.tpl" %}
{% include "nav_panel.tpl" %}
    <!-- ХЕДДЕР -->
      <!-- НАЧАЛО ХЕДДЕРА -->
        <!-- ШАПКА (ЛОГОТИПЫ) И РОТАТОР ИЗОБРАЖЕНИЙ-->
    <div class="row">
          <!-- КОЛОНКА С ЛОГТИПОМ EXAMPLE (ФАКТИЧЕСКИ ШАПКА)-->
        {% include "logos.tpl" %}
          <!-- КОЛОНКА С ХЛЕБНЫМИ КРОШКАМИ -->
      <div class="col s12 #424242 grey darken-3">
      <br />&nbsp;&nbsp;&nbsp;<a href="index.html" class="white-text">Главная /</a>&nbsp;<a href="abonentam-tor.html" class="white-text">Абонентам EXAMPLE /</a>&nbsp;<a href="abonentam-tor-03.html">Как стать абонентом EXAMPLE?</a>
      <br />&nbsp;
      </div>
          <!-- КОЛОНКА С КОНТЕНТОМ -->
      <div class="col s12">
        <div class="col s12">
          <center>
            <h4>Как стать абонентом EXAMPLE?</h4>
            <img src={{ url_for('static', filename='img/defaults/tlogo_1.png') }}>
          </center>
          <p>Чтобы стать абонентом EXAMPLE:
            <ul>
              <li>&nbsp;&nbsp;1.Необходимо пройти регистрацию на сайте <a href="http://EXAMPLE">EXAMPLE.рф</a></li>
              <li>&nbsp;&nbsp;2.Подключить опцию ТОР на своей сим карте оператора EXAMPLE.</li>
            </ul>
            Подключение опции происходить через заполнение заявления (см.в приложении) которое можно передать в офис БиEXAMPLEлайн по адресам:
            <ul>
              <li>&nbsp;&nbsp;1.г.Тюмень, EXAMPLE</li>
              <li>&nbsp;&nbsp;2.г.Тюмень, EXAMPLE</li>
            </ul>
            Подключение опции через переход к оператору EXAMPLE, так же через заполнение заявления (см.в приложении) и передача в офис EXAMPLE либо в наши офисы:
            <ul>
              <li>&nbsp;&nbsp;1.г.Тюмень,EXAMPLE</li>
              <li>&nbsp;&nbsp;2.г.Тюмень, EXAMPLE</li>
              <li>&nbsp;&nbsp;3.г.Тюмень,EXAMPLE</li>
              <li>&nbsp;&nbsp;4.г.Тюмень, EXAMPLE</li>
              <li>&nbsp;&nbsp;5.г.Тюмень, EXAMPLE</li>
            </ul>
            </p>
          <!-- Форма поиска -->
        </div>
      </div>
    </div>
 {% include "footer.tpl" %}