{% include "head.tpl" %}
{% include "nav_panel.tpl" %}
    <!-- ХЕДДЕР -->
      <!-- НАЧАЛО ХЕДДЕРА -->
        <!-- ШАПКА (ЛОГОТИПЫ) И РОТАТОР ИЗОБРАЖЕНИЙ-->
    <div class="row">
          <!-- КОЛОНКА С ЛОГТИПОМ ТОР (ФАКТИЧЕСКИ ШАПКА)-->
        {% include "logos.tpl" %}
          <!-- КОЛОНКА С ХЛЕБНЫМИ КРОШКАМИ -->
      <div class="col s12 #424242 grey darken-3">
      <br />&nbsp;&nbsp;&nbsp;<a href="index.html" class="white-text">Главная /</a>&nbsp;<a href="abonentam-tor.html" class="white-text">Абонентам EXAMPLE /</a>&nbsp;<a href="abonentam-tor-01.html" class="white-text">Офисы обслуживания EXAMPLE</a>
      <br />&nbsp;
      </div>
          <!-- КОЛОНКА С КОНТЕНТОМ -->
      <div class="col s12">
        <div class="col s12">
          <center>
            <h4>Офисы обслуживания ТОР</h4>
            <img src={{ url_for('static', filename='img/defaults/tlogo_1.png') }}>
          </center>
          <p>Офисы обслуживания, г.Тюмень:
          <ul>
            <li>&nbsp;&nbsp;— ул.EXAMPLE</li>
            <li>&nbsp;&nbsp;— ул.EXAMPLE</li>
            <li>&nbsp;&nbsp;— ул.EXAMPLE</li>
            <li>&nbsp;&nbsp;— ул.EXAMPLE</li>
            <li>&nbsp;&nbsp;— ул.EXAMPLE</li>
            <li>&nbsp;&nbsp;— ул.EXAMPLE</li>
            <li>&nbsp;&nbsp;— ул.EXAMPLE</li>
          </ul>
          </p>
          <!-- Форма поиска -->
        </div>
      </div>
    </div>
    <footer class="page-footer #212121 grey darken-4">
          <div class="container">
            <div class="row">
              <div class="col l6 s124">
                <h5 class="white-text">Описание</h5>
                <p class="grey-text text-lighten-4">Текст описания.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Мы в социальных сетях</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Мы в "ВКонтакте"</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Мы в "Facebook"</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Мы в "Instagram"</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Мы в "Twitter"</a></li>
                  <li><a class="grey-text text-lighten-3" href="mailto:9292000001@mail.ru">Написать нам</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright #424242 grey darken-3">
            <div class="container">
            <a class="grey-text text-lighten-4 right" href="http://www.it-work.pro">Разработанно "Миллениум. Интеграция"</a>
            </div>
          </div>
    </footer>
    </body>

  </html>