{% include "head.tpl" %}
{% include "nav_panel.tpl" %}
    <!-- ХЕДДЕР -->
      <!-- НАЧАЛО ХЕДДЕРА -->
        <!-- ШАПКА (ЛОГОТИПЫ) И РОТАТОР ИЗОБРАЖЕНИЙ-->
    <div class="row">
          <!-- КОЛОНКА С ЛОГТИПОМ (ФАКТИЧЕСКИ ШАПКА)-->
        {% include "logos.tpl" %}
          <!-- КОЛОНКА С ХЛЕБНЫМИ КРОШКАМИ -->
      <div class="col s12 #424242 grey darken-3">
      <br />&nbsp;&nbsp;&nbsp;<a href="index.html" class="white-text">Главная /</a>&nbsp;<a href="abonentam-tor.html" class="white-text">Абонентам EXAMPLE /</a>&nbsp;<a href="abonentam-tor-02.html">Приложение</a>
      <br />&nbsp;
      </div>
          <!-- КОЛОНКА С КОНТЕНТОМ -->
      <div class="col s12">
        <div class="col s12">
          <center>
            <h4>Приложение</h4>
            <img src={{ url_for('static', filename='img/defaults/tlogo_1.png') }}>
          </center>
          <h5>Бланки заявлений</h5>
          <h6>1. На переход с другого оператора в "EXAMPLE"</h6>
          <center>
            <img class="materialboxed" width="266" src={{ url_for('static', filename='img/pages/005.jpg') }}>
          </center>
          <h6>2. На подключение ТОР абонентам "EXAMPLE"</h6>
          <p>Образец заявления на подключение к ФМС в "EXAMPLE"</p>  
          <!-- Форма поиска -->
        </div>
      </div>
    </div>
 {% include "footer.tpl" %}