{% include "head.tpl" %}
{% include "nav_panel.tpl" %}
    <!-- ХЕДДЕР -->
      <!-- НАЧАЛО ХЕДДЕРА -->
        <!-- ШАПКА (ЛОГОТИПЫ) И РОТАТОР ИЗОБРАЖЕНИЙ-->
    <div class="row">
          <!-- КОЛОНКА С ЛОГТИПОМ ТОР (ФАКТИЧЕСКИ ШАПКА)-->
        {% include "logos.tpl" %}
          <!-- КОЛОНКА С ХЛЕБНЫМИ КРОШКАМИ -->
      <div class="col s12 #424242 grey darken-3">
      <br />&nbsp;&nbsp;&nbsp;<a href="index.html" class="white-text">Главная /</a>&nbsp;<a href="abonentam-tor.html" class="white-text">Абонентам EXAMPLE /</a>&nbsp;<a href="abonentam-tor-00.html">Что имею абоненты EXAMPLE?</a>
      <br />&nbsp;
      </div>
          <!-- КОЛОНКА С КОНТЕНТОМ -->
      <div class="col s12">
        <div class="col s12">
          <center>
            <h4>Что имеют абоненты EXAMPLE?</h4>
            <img src={{ url_for('static', filename='img/defaults/tlogo_1.png') }}>
          </center>
          <p>Все клиенты EXAMPLE имеют привилегии от группы компаний и партнеров EXAMPLE:
              <ul>
                <li>&nbsp;&nbsp;1. физическое лицо — использующее сим карту EXAMPLE</li>
                <li>&nbsp;&nbsp;2. юридическое лицо — использующее от 3 сим карт EXAMPLE</li>
              </ul>
              <h5>Основа</h5>
              РФ — это домашний регион с неограниченными: СМС, ММС и исходящими звонками на городские и мобильные абонентам EXAMPLE по РФ! <em>(по миру входящие и исходящие на EXAMPLE — БЕЗЛИМИТ!!!)</em>.
              <h5>Скидки</h5>
              <ul>
                <li>&nbsp;&nbsp;1.Скидка на все услуги 10%  от операторов связи группы «EXAMPLE» (EXAMPLE.com) — ежемесячно:
                  <ul>
                    <li>&nbsp;&nbsp;— ООО «EXAMPLE» — г.Тюмень, <a href="http://EXAMPLE.ru">EXAMPLE.ru</a></li>
                    <li>&nbsp;&nbsp;— ООО «EXAMPLE» — г.Тюмень,  <a href="http://EXAMPLE.ru">EXAMPLE.ru</a></li>
                    <li>&nbsp;&nbsp;— ЗАО «EXAMPLE» — г.Тюмень,  <a href="http://EXAMPLE.ri">EXAMPLE.ru</a></li>
                  </ul>
                </li>
                <li>&nbsp;&nbsp;2.Скидка на все услуги и товары 15% от полиграфического центра «EXAMPLE» (<a href="http://EXAMPLE.рф">EXAMPLE.рф</a>)
                  <ul>
                    <li>&nbsp;&nbsp;— ООО EXAMPLE — г.Тюмень <a href="http://EXAMPLE.рф">EXAMPLE.рф</a></li>
                    <li>&nbsp;&nbsp;— ООО EXAMPLE — г.Тюмень <a href="http://EXAMPLE.рф">EXAMPLE.рф</a></li>
                    <li>&nbsp;&nbsp;— ООО EXAMPLE — г.Тюмень<a href="http://EXAMPLE.рф">EXAMPLE.рф</a></li>
                  </ul>
                </li>
                <li>&nbsp;&nbsp;3.Скидка на размещение рекламы в журнале EXAMPLE — 20 %
                  <ul>
                    <li>&nbsp;&nbsp;— ООО EXAMPLE</li>
                  </ul>
                </li>
                <li>&nbsp;&nbsp;4.Скидка на размещение рекламы на сайтах медиагруппы — 25 %
                  <ul>
                    <li>&nbsp;&nbsp;— <a href="http://EXAMPLE.рф">EXAMPLE.рф</a></li>
                    <li>&nbsp;&nbsp;— <a href="http://EXAMPLE.рф">EXAMPLE.рф</a></li>
                  </ul>
                </li>
                </ul>
                </p>
          <!-- Форма поиска -->
        </div>
      </div>
    </div>
 {% include "footer.tpl" %}