{% include "head.tpl" %}
{% include "nav_panel.tpl" %}
    <!-- ХЕДДЕР -->
      <!-- НАЧАЛО ХЕДДЕРА -->
        <!-- ШАПКА (ЛОГОТИПЫ) И РОТАТОР ИЗОБРАЖЕНИЙ-->
    <div class="row">
          <!-- КОЛОНКА С ЛОГТИПОМ EXAMPLE (ФАКТИЧЕСКИ ШАПКА)-->
        {% include "logos.tpl" %}
          <!-- КОЛОНКА С ХЛЕБНЫМИ КРОШКАМИ -->
      <div class="col s12 #424242 grey darken-3">
      <br />&nbsp;&nbsp;&nbsp;<a href="index.html" class="white-text">Главная /</a>&nbsp;<a href="help-service.html">Справочная служба</a>
      <br />&nbsp;
      </div>
          <!-- КОЛОНКА С КОНТЕНТОМ -->
      <div class="col s12">
        <div class="col s12">
          <center>
            <h4>Справочная служба</h4>
            <img src={{ url_for('static', filename='img/defaults/tlogo_1.png') }}>
          </center>
          <p><strong>Справочная служба</strong> — услуга для тех, кто хочет найти самую низкую цену на товар, который хочет купить.
            <br />&nbsp;
            <br />Так же служба выполняет функцию обычной справки по получению информации по фирмам, адресам, телефонам и другой информации.
            <br />&nbsp;
            <br />Справка создана EXAMPLE октября в EXAMPLE года.
            <h5>Информация для абонентов</h5>
            <ul>
              <li><strong>*EXAMPLE</strong> — номер телефона для абонентов EXAMPLE</li>
              <li><strong>EXAMPLE</strong> — набор с других операторов</li>
            </ul>
            Стоимость услуги 0 руб. Существует возможность переадресовать звонок поставщику товара или услуги.
            <br />&nbsp;
            <br />Время работы службы 24 часа в сутки.
            <br />&nbsp;
            <h5>Информация для поставщиков товаров и услуг</h5>
            По размещению информацию можно обратиться по контактным телефонам.</p>
          <!-- Форма поиска -->
        </div>
      </div>
    </div>
 {% include "footer.tpl" %}