{% include "head.tpl" %}
{% include "nav_panel.tpl" %}
    <!-- ХЕДДЕР -->
      <!-- НАЧАЛО ХЕДДЕРА -->
        <!-- ШАПКА (ЛОГОТИПЫ) И РОТАТОР ИЗОБРАЖЕНИЙ-->
    <div class="row">
          <!-- КОЛОНКА С ЛОГТИПОМ EXAMPLE (ФАКТИЧЕСКИ ШАПКА)-->
        {% include "logos.tpl" %}
          <!-- КОЛОНКА С ХЛЕБНЫМИ КРОШКАМИ -->
      <div class="col s12 #424242 grey darken-3">
      <br />&nbsp;&nbsp;&nbsp;<a href="index.html" class="white-text">Главная /<//a>&nbsp;<a href="login.html" class="white-text">Вход</a>
      <br />&nbsp;
      </div>
          <!-- КОЛОНКА С КОНТЕНТОМ -->
      <div class="col s12">
        <div class="col s12">
          <center>
            <h4>Добро пожаловать в мир EXAMPLE</h4>
            <img src={{ url_for('static', filename='img/defaults/tlogo_1.png') }}>
            <br />&nbsp;
          </center>
          <div class="row">
            <div class="col s2">&nbsp;</div>
            <div class="col s8">
               <div class="row">
               {% if error %}
                    <a style="background: red"> {{ error }} </a>
               {% endif %}

                <div class="col s12">
                  <div class="card #212121 grey darken-4">
                    <div class="card-content white-text">
                      <span class="card-title">Вход в систему</span>
                      <p>Для того, чтобы войти в систему сайта <a href="http://EXAMPLE.рф">EXAMPLE.рф</a> введите в качестве логина свой
                      контактный мобильный телефон и свой пароль.</p>
                      <div class="row">
                        <form action="" method="POST" name="login">
                          <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">phone</i>
                                <input name="Login" id="icon_telephone" type="tel" class="validate">
                                <label for="icon_telephone">Номер мобильного телефона</label>
                            </div>
                            <div class="input-field col s12">
                              <i class="material-icons prefix">vpn_key</i>
                              <input name="password" id="password" type="password" class="validate">
                              <label for="password">Пароль</label>
                            </div>
                          </div>

                    <div class="card-action">
                    <button class="btn #ffeb3b yellow black-text" type="submit" name="action">Войти<i class="material-icons right">play_arrow</i></button>
                    <button class="btn #ffeb3b yellow black-text" type="submit" name="action">Восстановить пароль<i class="material-icons right">shopping_basket</i></button>

                    </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col s2">&nbsp;</div>
          </div>
          <!-- Форма поиска -->
        </div>
      </div>
    </div>
 {% include "footer.tpl" %}