{% include "head.tpl" %}
{% include "nav_panel.tpl" %}
    <!-- ХЕДДЕР -->
      <!-- НАЧАЛО ХЕДДЕРА -->
        <!-- ШАПКА (ЛОГОТИПЫ) И РОТАТОР ИЗОБРАЖЕНИЙ-->
    <div class="row">
          <!-- КОЛОНКА С ЛОГТИПОМ EXAMPLE (ФАКТИЧЕСКИ ШАПКА)-->
        {%  include "logos.tpl" %}
          <!-- КОЛОНКА С ХЛЕБНЫМИ КРОШКАМИ -->
      <div class="col s12 #424242 grey darken-3">
      <br />&nbsp;&nbsp;&nbsp;<a href="index.html" class="white-text">Главная /</a>&nbsp;<a href="mobilnie-tarifi-beeline.html">Мобильные тарифы EXAMPLE (Beeline)</a>
      <br />&nbsp;
      </div>
          <!-- КОЛОНКА С КОНТЕНТОМ -->
      <div class="col s12">
        <div class="col s12">
          <center>
            <h4>Мобильные тарифы EXAMPLE (EXAMPLE)</h4>
            <img src={{ url_for('static', filename='img/defaults/tlogo_1.png')}}>
            <br />&nbsp;
            <div class="row">
              <div class="col s2">&nbsp;</div>
              <div class="col s4"><img class="materialboxed" width="266" src={{ url_for('static', filename='img/pages/001.jpg') }}></div>
              <div class="col s4"><img class="materialboxed" width="266" src={{ url_for('static', filename='img/pages/002.jpg') }}></div>
              <div class="col s2">&nbsp;</div>
            </div>
            <div class="row">
              <div class="col s2">&nbsp;</div>
              <div class="col s4"><img class="materialboxed" width="266" src={{ url_for('static', filename='img/pages/003.jpg') }}></div>
              <div class="col s4"><img class="materialboxed" width="266" src={{ url_for('static', filename='img/pages/004.jpg') }}></div>
              <div class="col s2">&nbsp;</div>
            </div>
          </center>
          <!-- Форма поиска -->
        </div>
      </div>
    </div>
 {% include "footer.tpl" %}