{% include "head.tpl" %}
{% include "nav_panel.tpl" %}
    <!-- ХЕДДЕР -->
      <!-- НАЧАЛО ХЕДДЕРА -->
        <!-- ШАПКА (ЛОГОТИПЫ) И РОТАТОР ИЗОБРАЖЕНИЙ-->
    <div class="row">
          <!-- КОЛОНКА С ЛОГТИПОМ EXAMPLE (ФАКТИЧЕСКИ ШАПКА)-->
      <div class="col s12">
        <center>
          <a href="index.html"><img src="image/template/tlogo_1.png"></a>
          <a href="#"><img src="image/template/001-200x106.png"></a>
          <a href="#"><img src="image/template/002-200x106.png"></a>
          <a href="#"><img src="image/template/003-200x106.png"></a>
        </center>
      </div>
          <!-- КОЛОНКА С ХЛЕБНЫМИ КРОШКАМИ -->
      <div class="col s12 #424242 grey darken-3">
      <br />&nbsp;&nbsp;&nbsp;<a href="index.html" class="white-text">Главная /</a>&nbsp;<a href="support.html" class="white-text">Техническая поддержка</a>
      <br />&nbsp;
      </div>
          <!-- КОЛОНКА С КОНТЕНТОМ -->
      <div class="col s12">
        <div class="col s12">
          <center>
            <h4>FMC</h4>
            <img src="image/template/tlogo_1.png">
          </center>
          <p>
          </p>
          <!-- Форма поиска -->
        </div>
      </div>
    </div>
 {% include "footer.tpl" %}