{% include "head.tpl" %}
{% include "nav_panel.tpl" %}
    <!-- ХЕДДЕР -->
      <!-- НАЧАЛО ХЕДДЕРА -->
        <!-- ШАПКА (ЛОГОТИПЫ) И РОТАТОР ИЗОБРАЖЕНИЙ-->
    <div class="row">
          <!-- КОЛОНКА С ЛОГТИПОМ EXAMPLE (ФАКТИЧЕСКИ ШАПКА)-->
        {% include "logos.tpl" %}
          <!-- КОЛОНКА С ХЛЕБНЫМИ КРОШКАМИ -->
      <div class="col s12 #424242 grey darken-3">
      <br />&nbsp;&nbsp;&nbsp;<a href="index.html" class="white-text">Главная /</a>&nbsp;<a href="telefonia.html">Телефония</a>
      <br />&nbsp;
      </div>
          <!-- КОЛОНКА С КОНТЕНТОМ -->
      <div class="col s12">
        <div class="col s12">
          <center>
            <h4>Телефония</h4>
            <img src={{ url_for('static', filename='img/defaults/tlogo_1.png') }}>
          </center>
          <p><h5>Возможности</h5>
          <ul>
            <li>&nbsp;&nbsp;Запись и прослушивание звонков</li>
            <li>&nbsp;&nbsp;Видео звонки</li>
            <li>&nbsp;&nbsp;Статистика:
              <ul>
                <li>&nbsp;&nbsp;- входящие</li>
                <li>&nbsp;&nbsp;- исходящие</li>
                <li>&nbsp;&nbsp;- длительность</li>
                <li>&nbsp;&nbsp;- занятость оператора в разные периоды времени</li>
              </ul>
            <li>&nbsp;&nbsp;Встроенный биллинг + интеграция со сторонними решениями</li>
            <li>&nbsp;&nbsp;IVR:
              <ul>
                <li>&nbsp;&nbsp;голосовое меню</li>
                <li>&nbsp;&nbsp;экcтеншены</li>
                <li>&nbsp;&nbsp;иерархия любой глубины</li>
              </ul>
            <li>&nbsp;&nbsp;Голосовая почта</li>
            <li>&nbsp;&nbsp;Конференции</li>
            <h5>Связаться с нами</h5>
            Личный менеджер: EXAMPLE

          </p>
          <!-- Форма поиска -->
        </div>
      </div>
    </div>
 {% include "footer.tpl" %}