{% include "head.tpl" %}
{% include "modal_view.tpl" %}
{% include "nav_panel.tpl" %}
      <!--Отступ сверху-->
   		<div class="row">
			<div class="col s4">&nbsp;</div>
			<div class="col s4">&nbsp;</div>
			<div class="col s4">&nbsp;</div>
		</div>
   		<div class="row">
			<div class="col s4">&nbsp;</div>
			<div class="col s4">&nbsp;</div>
			<div class="col s4">&nbsp;</div>
		</div>
        <!--Тело страницы-->
        <div class="row">
			<div class="col s4">&nbsp;</div>
			<div class="col s4">&nbsp;</div>
			<div class="col s4">&nbsp;</div>
		</div>
   		<div class="row">
			<div class="col s4">&nbsp;</div>
			<div class="col s4">&nbsp;</div>
			<div class="col s4">&nbsp;</div>
		</div>
      <!-- Форма авторизации пользователя -->
        <div class="row">
			<div class="col s2">&nbsp;</div>
			<div class="col s8">

	      <div class="row">
                {% if error %}
                    <a style="background: red"> {{ error }} </a>
                {% endif %}
          <div class="col s12">
	          <div class="card blue-grey #e8eaf6 indigo lighten-5">
	            <div class="card-content black-text">
	              <span class="card-title">Введите логин и пароль</span>
	              <p>
                    <center><img src="{{ url_for('static', filename='img/logo.png') }}" height="196" width="330">
	                    <br />Для входа введите логин и пароль</center></p>
                    <div class="row">
                <form action="" method="POST" name="login" class="col s12">
                    <center>
                      <div class="input-field col s12">
                        <input name="Login" id="icon_login" type="tel" class="validate">
                        <label for="icon_login">Логин</label>
                      </div>
                      <div class="input-field col s12">
                        <input name="password" id="icon_pwd" type="tel" class="validate">
                        <label for="icon_pwd">Пароль</label>
                      </div>
                        <div class="row">
                            <button class="btn #283593 indigo darken-3 white-text" type="submit" name="action">Войти<i class="material-icons right">play_arrow</i></button>
                            <button class="btn #283593 indigo darken-3 white-text" type="submit" name="action">Восстановить пароль<i class="material-icons right">shopping_basket</i></button>
                        </div>
                    </center>
                </form>

                 </div>
	            </div>
	          </div>
	        </div>
	      </div>


			</div>
			<div class="col s2">&nbsp;</div>

        <!-- Окончание формы логинизации-->
        <!-- Отступы после формы -->
        <div class="row">
          <div class="col s4">&nbsp;</div>
          <div class="col s4">&nbsp;</div>
          <div class="col s4">&nbsp;</div>
        </div>
   		<div class="row">
			<div class="col s4">&nbsp;</div>
			<div class="col s4">&nbsp;</div>
			<div class="col s4">&nbsp;</div>
		</div>
        <!-- Отступы после формы окончание -->
        <!-- Окончание контента страницы -->
        <!--Подвал. Не забудь просставить сссылки-->
    {% include "footer.tpl" %}