      <div class="col s12">
        <center>
          <a href="main"><img src={{ url_for('static', filename='img/defaults/tlogo_1.png')}}></a>
          <a href="#"><img src={{ url_for('static', filename='img/defaults/001-200x106.png')}}></a>
          <a href="#"><img src={{ url_for('static', filename='img/defaults/002-200x106.png')}}></a>
          <a href="#"><img src={{ url_for('static', filename='img/defaults/003-200x106.png')}}></a>
        </center>
      </div>