{% include "head.tpl" %}
{% include "modal_view.tpl" %}
{% include "nav_panel.tpl" %}
        <!-- Навигационное меню: конец -->
        <!-- Контент страницы -->
        <!-- Отступы до контента-->
   		<div class="row">
			<div class="col s4">&nbsp;</div>
			<div class="col s4">&nbsp;</div>
			<div class="col s4">&nbsp;</div>
		</div>
   		<div class="row">
			<div class="col s4">&nbsp;</div>
			<div class="col s4">&nbsp;</div>
			<div class="col s4">&nbsp;</div>
		</div>



        <!-- Окончание отступов до контента-->
        <!-- Форма логинизации-->
		<div class="row">
			<div class="col s2">&nbsp;</div>
			<div class="col s8">
				
	      <div class="row">
	        <div class="col s12">
	          <div class="card blue-grey #e8eaf6 indigo lighten-5">
	            <div class="card-content black-text">
	              <span class="card-title">Введите логин и пароль</span>
	              <p>
	              <center><img src="{{ url_for('static', filename='img/logo.png') }}" height="196" width="330"></p></center>
                 <div class="slider">
                    <ul class="slides">
                      <li>
                        <img src="http://lorempixel.com/580/250/nature/1"> <!-- random image -->
                        <div class="caption center-align">
                          <h3>Большой заголовок H3</h3>
                          <h5 class="light grey-text text-lighten-3">Слоган к слайду!</h5>
                        </div>
                      </li>
                      <li>
                        <img src="http://lorempixel.com/580/250/nature/2"> <!-- random image -->
                        <div class="caption left-align">
                          <h3>Большой заголовок H3</h3>
                          <h5 class="light grey-text text-lighten-3">Слоган к слайду!</h5>
                        </div>
                      </li>
                      <li>
                        <img src="http://lorempixel.com/580/250/nature/3"> <!-- random image -->
                        <div class="caption right-align">
                          <h3>Большой заголовок H3</h3>
                          <h5 class="light grey-text text-lighten-3">Слоган к слайду!</h5>
                        </div>
                      </li>
                      <li>
                        <img src="http://lorempixel.com/580/250/nature/4"> <!-- random image -->
                        <div class="caption center-align">
                          <h3>Большой заголовок H3</h3>
                          <h5 class="light grey-text text-lighten-3">Слоган к слайду!!</h5>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="row">
                    <form class="col s12">
                        <div class="input-field col s12">
                          <input id="search" type="email" class="validate">
                          <label for="search">Введите искомый домен</label>
                        </div>
                    </form>
                  </div>
                  <!-- Выхлоп AJAX -->

                  <ul class="collection">
                    {% for domain in info %}
                        {% if domain.domen_name %}
                            <li class="collection-item avatar">
                              <i class="material-icons circle">folder</i>
                              <span class="title"><a href="">{{ domain.domen_name }}</a></span>
                              <p>Внутренний номер<br>
                                 Описание номера
                                 <br /><strong>Статус:</strong>&nbsp;{{ domain.status }}
                                 <br /><a href="!#">Оформуть/купить отдельно</a>
                              </p>
                              <a href="#!" class="secondary-content btn #283593 indigo darken-3">Отложить</a>
                            </li>
                        {% endif %}
                      {% endfor %}

                  </ul>
                                      <center>  
                      <ul class="pagination">
                        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                        <li class="active"><a href="#!">1</a></li>
                        <li class="waves-effect"><a href="#!">2</a></li>
                        <li class="waves-effect"><a href="#!">3</a></li>
                        <li class="waves-effect"><a href="#!">4</a></li>
                        <li class="waves-effect"><a href="#!">5</a></li>
                        <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                        </ul>
                    </center>
            
                  <div class="row">
                    
                  </div>
	            </div>
	            <div class="card-action">
	              <a href="main.html" class="btn #283593 indigo darken-3 white-text">Телефонные номера</a>
	              <a href="main-domains.html" class="btn #283593 indigo darken-3 white-text">Домены</a>
	            </div>
	          </div>
	        </div>
	      </div>
            

			</div>
			<div class="col s2">&nbsp;</div>
		</div>
        <!-- Окончание формы логинизации-->
        <!-- Отступы после формы -->
        <div class="row">
          <div class="col s4">&nbsp;</div>
          <div class="col s4">&nbsp;</div>
          <div class="col s4">&nbsp;</div>
        </div>
   		<div class="row">
			<div class="col s4">&nbsp;</div>
			<div class="col s4">&nbsp;</div>
			<div class="col s4">&nbsp;</div>
		</div>
        <!-- Отступы после формы окончание -->
        <!-- Окончание контента страницы --> 
    <!-- Подвал -->
 {% include "footer.tpl" %}