
{% include "head.tpl" %}
{% include "nav_panel.tpl" %}

{% include "modal_view.tpl" %}
        <!-- Навигационное меню: конец -->
        <!-- Контент страницы -->
        <!-- Отступы до контента-->
      <div class="row">
      <div class="col s4">&nbsp;</div>
      <div class="col s4">&nbsp;</div>
      <div class="col s4">&nbsp;</div>
    </div>
      <div class="row">
      <div class="col s4">&nbsp;</div>
      <div class="col s4">&nbsp;</div>
      <div class="col s4">&nbsp;</div>
    </div>



        <!-- Окончание отступов до контента-->
        <!-- Форма логинизации-->
    <div class="row">
      <div class="col s2">&nbsp;</div>
      <div class="col s10">
      <h2>Диалог с Иванов Иван Иванович</h2>
      <div style="height: 600px; overflow-y: scroll"
        <ul class="collection">
          <li class="collection-item avatar">
            <img src="img/profile/55561658_1266873748_400645FlNK_w.jpg" height="532" width="500" alt="" class="circle">
            <span class="title"><a href="">Иванов Иван Иванович</a></span>
            <p>Специалист технической поддержки<br>
               Сообщение, которое написал специалист технической поддержки
            </p>
          </li>
          <li class="collection-item avatar">
            <img src="img/profile/63.jpg" height="358" width="500" alt="" class="circle">
            <span class="title"><a href="">Текущий пользователь</a></span>
            <p>Пользователь системы<br>
               Сообщение пользователя =)
            </p>
          </li>
          <li class="collection-item avatar">
            <img src="img/profile/55561658_1266873748_400645FlNK_w.jpg" height="532" width="500" alt="" class="circle">
            <span class="title"><a href="">Иванов Иван Иванович</a></span>
            <p>Специалист технической поддержки<br>
               Сообщение, которое написал специалист технической поддержки
            </p>
          </li>
          <li class="collection-item avatar">
            <img src="img/profile/63.jpg" height="358" width="500" alt="" class="circle">
            <span class="title"><a href="">Текущий пользователь</a></span>
            <p>Пользователь системы<br>
               Сообщение пользователя =)
            </p>
          </li>
          <li class="collection-item avatar">
            <img src="img/profile/55561658_1266873748_400645FlNK_w.jpg" height="532" width="500" alt="" class="circle">
            <span class="title"><a href="">Иванов Иван Иванович</a></span>
            <p>Специалист технической поддержки<br>
               Сообщение, которое написал специалист технической поддержки
            </p>
          </li>
          <li class="collection-item avatar">
            <img src="img/profile/63.jpg" height="358" width="500" alt="" class="circle">
            <span class="title"><a href="">Текущий пользователь</a></span>
            <p>Пользователь системы<br>
               Сообщение пользователя =)
            </p>
          </li>
          <li class="collection-item avatar">
            <img src="img/profile/55561658_1266873748_400645FlNK_w.jpg" height="532" width="500" alt="" class="circle">
            <span class="title"><a href="">Иванов Иван Иванович</a></span>
            <p>Специалист технической поддержки<br>
               Сообщение, которое написал специалист технической поддержки
            </p>
          </li>
          <li class="collection-item avatar">
            <img src="img/profile/63.jpg" height="358" width="500" alt="" class="circle">
            <span class="title"><a href="">Текущий пользователь</a></span>
            <p>Пользователь системы<br>
               Сообщение пользователя =)
            </p>
          </li>
        </ul></div>
        <form class="col s12">
            <div class="input-field col s12">
              <textarea id="textarea1" class="materialize-textarea"></textarea>
              <label for="textarea1">Сообщение</label>
            </div>
            <a class="btn #283593 indigo darken-3" href="!#">Отправить</a>
        </form>   
      </div>
      <div class="col s2">&nbsp;</div>
    </div>
        <!-- Окончание формы логинизации-->
        <!-- Отступы после формы -->
        <div class="row">
          <div class="col s4">&nbsp;</div>
          <div class="col s4">&nbsp;</div>
          <div class="col s4">&nbsp;</div>
        </div>
      <div class="row">
      <div class="col s4">&nbsp;</div>
      <div class="col s4">&nbsp;</div>
      <div class="col s4">&nbsp;</div>
    </div>
        <!-- Отступы после формы окончание -->
        <!-- Окончание контента страницы --> 
    <!-- Подвал -->

{% include "footer.tpl" %}
