  <!-- Модальные окна -->
  <div id="modal-footer" class="modal bottom-sheet">
    <div class="modal-content">
      <h4>Отложенные номера</h4>
          <div class="row">
          <div class="col s1">&nbsp;</div>
          <div class="col s10">
                <ul class="collection">
                <li class="collection-item avatar">
                 <i class="material-icons circle">language</i>
                  <span class="title">#6555 51 22 32</span>
                  <p>Внутренний номер<br>
                     Краткий текст о том, что намер занят или о том, что он свободен
                  </p>
                   <a class='dropdown-button btn secondary-content' href='#' data-activates='dropdown01'>&nbsp;&nbsp;&nbsp;&nbsp;<i class="material-icons">play_arrow</i>&nbsp;&nbsp;&nbsp;&nbsp;</a>
                   <ul id='dropdown01' class='dropdown-content'>
                    <li><a href="#!">Купить отдельно</a></li>
                    <li><a href="#!">Заказать отдельно</a></li>
                    <li class="divider"></li>
                    <li><a href="#!">Убрать из выбранных</a></li>
                  </ul>
                </li>
                <li class="collection-item avatar">
                  <i class="material-icons circle">folder</i>
                  <span class="title">+7 (932) 470-74-25</span>
                  <p>Внешний номер<br>
                     Краткий текст о том, что намер занят или о том, что он свободен
                  </p>
                  <a class='dropdown-button btn secondary-content' href='#' data-activates='dropdown02'>&nbsp;&nbsp;&nbsp;&nbsp;<i class="material-icons">play_arrow</i>&nbsp;&nbsp;&nbsp;&nbsp;</a>
                   <ul id='dropdown02' class='dropdown-content'>
                    <li><a href="#!">Купить отдельно</a></li>
                    <li><a href="#!">Заказать отдельно</a></li>
                    <li class="divider"></li>
                    <li><a href="#!">Убрать из выбранных</a></li>
                  </ul>                </li>
                <li class="collection-item avatar">
                  <i class="material-icons circle green">insert_chart</i>
                  <span class="title">*75 551</span>
                  <p>Номтел<br>
                     Краткий текст о том, что намер занят или о том, что он свободен
                  </p>
                  <a class='dropdown-button btn secondary-content' href='#' data-activates='dropdown03'>&nbsp;&nbsp;&nbsp;&nbsp;<i class="material-icons">play_arrow</i>&nbsp;&nbsp;&nbsp;&nbsp;</a>
                   <ul id='dropdown03' class='dropdown-content'>
                    <li><a href="#!">Купить отдельно</a></li>
                    <li><a href="#!">Заказать отдельно</a></li>
                    <li class="divider"></li>
                    <li><a href="#!">Убрать из выбранных</a></li>
                  </ul>
                </li>
                <li class="collection-item avatar">
                  <i class="material-icons circle red">play_arrow</i>
                  <span class="title">№5554 551</span>
                  <p>Внутренний номер<br>
                     Краткий текст о том, что намер занят или о том, что он свободен
                  </p>
                  <a class='dropdown-button btn secondary-content' href='#' data-activates='dropdown04'>&nbsp;&nbsp;&nbsp;&nbsp;<i class="material-icons">play_arrow</i>&nbsp;&nbsp;&nbsp;&nbsp;</a>
                   <ul id='dropdown04' class='dropdown-content'>
                    <li><a href="#!">Купить отдельно</a></li>
                    <li><a href="#!">Заказать отдельно</a></li>
                    <li class="divider"></li>
                    <li><a href="#!">Убрать из выбранных</a></li>
                  </ul>
                </li>
                                <li class="collection-item avatar">
                 <i class="material-icons circle">language</i>
                  <span class="title">#6555 51 22 32</span>
                  <p>Внутренний номер<br>
                     Краткий текст о том, что намер занят или о том, что он свободен
                  </p>
                  <a class='dropdown-button btn secondary-content' href='#' data-activates='dropdown05'>&nbsp;&nbsp;&nbsp;&nbsp;<i class="material-icons">play_arrow</i>&nbsp;&nbsp;&nbsp;&nbsp;</a>
                   <ul id='dropdown05' class='dropdown-content'>
                    <li><a href="#!">Купить отдельно</a></li>
                    <li><a href="#!">Заказать отдельно</a></li>
                    <li class="divider"></li>
                    <li><a href="#!">Убрать из выбранных</a></li>
                  </ul>
                </li>
                <li class="collection-item avatar">
                  <i class="material-icons circle">folder</i>
                  <span class="title">+7 (932) 470-74-25</span>
                  <p>Внешний номер<br>
                     Краткий текст о том, что намер занят или о том, что он свободен
                  </p>
                  <a class='dropdown-button btn secondary-content' href='#' data-activates='dropdown06'>&nbsp;&nbsp;&nbsp;&nbsp;<i class="material-icons">play_arrow</i>&nbsp;&nbsp;&nbsp;&nbsp;</a>
                   <ul id='dropdown06' class='dropdown-content'>
                    <li><a href="#!">Купить отдельно</a></li>
                    <li><a href="#!">Заказать отдельно</a></li>
                    <li class="divider"></li>
                    <li><a href="#!">Убрать из выбранных</a></li>
                  </ul>
                </li>
                <li class="collection-item avatar">
                  <i class="material-icons circle green">insert_chart</i>
                  <span class="title">*75 551</span>
                  <p>Номтел<br>
                     Краткий текст о том, что намер занят или о том, что он свободен
                  </p>
                  <a class='dropdown-button btn secondary-content' href='#' data-activates='dropdown07'>&nbsp;&nbsp;&nbsp;&nbsp;<i class="material-icons">play_arrow</i>&nbsp;&nbsp;&nbsp;&nbsp;</a>
                   <ul id='dropdown07' class='dropdown-content'>
                    <li><a href="#!">Купить отдельно</a></li>
                    <li><a href="#!">Заказать отдельно</a></li>
                    <li class="divider"></li>
                    <li><a href="#!">Убрать из выбранных</a></li>
                  </ul>
                </li>
                <li class="collection-item avatar">
                  <i class="material-icons circle red">play_arrow</i>
                  <span class="title">№5554 551</span>
                  <p>Внутренний номер<br>
                     Краткий текст о том, что намер занят или о том, что он свободен
                  </p>
                  <a class='dropdown-button btn secondary-content' href='#' data-activates='dropdown08'>&nbsp;&nbsp;&nbsp;&nbsp;<i class="material-icons">play_arrow</i>&nbsp;&nbsp;  &nbsp;&nbsp;</a>
                   <ul id='dropdown08' class='dropdown-content'>
                    <li><a href="#!">Купить отдельно</a></li>
                    <li><a href="#!">Заказать отдельно</a></li>
                    <li class="divider"></li>
                    <li><a href="#!">Убрать из выбранных</a></li>
                  </ul>
                </li>
              </ul>
          </div>
          <div class="col s1">&nbsp;</div>
      </div>
    </div>
    <div class="modal-footer">
      <a class="modal-trigger btn" href="#modal2">Купить/Оформить заявку</a>
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Свернуть</a>

    </div>
  </div>

  <div id="modal-ticket" class="modal">
    <div class="modal-content">
      <h4>Оформление/оплата номеров</h4>
      <div>
                        <form class="col s12">
                    <div class="input-field col s12">
                      <i class="material-icons prefix">perm_identity</i>
                      <input id="icon_person" type="tel" class="validate">
                      <label for="icon_person">Фамилия, Имя, Отчество</label>
                    </div>
                    <div class="input-field col s12">
                      <i class="material-icons prefix">phone</i>
                      <input id="icon_telephone" type="tel" class="validate">
                      <label for="icon_telephone">Телефон (контактный)</label>
                    </div>
                      <ul class="collection with-header">
                        <li class="collection-header"><h4>Выбранные номера</h4></li>
                        <li class="collection-item"><i class="material-icons">dialpad</i>&nbsp;7 (932) 470-74-25 - внешний номер;<br /><i class="material-icons">payment</i>Строимость: 300 рублей </li>
                        <li class="collection-item"><i class="material-icons">dialpad</i>&nbsp;7 (932) 470-74-25 - внешний номер;<br /><i class="material-icons">payment</i>Строимость: 300 рублей </li>
                        <li class="collection-item"><i class="material-icons">dialpad</i>&nbsp;7 (932) 470-74-25 - внешний номер;<br /><i class="material-icons">payment</i>Строимость: 300 рублей </li>
                        <li class="collection-item"><i class="material-icons">dialpad</i>&nbsp;7 (932) 470-74-25 - внешний номер;<br /><i class="material-icons">payment</i>Строимость: 300 рублей </li>
                      </ul>
                    <div class="input-field col s12">
                      <i class="material-icons prefix">mail</i>
                      <input id="icon_mail" type="tel" class="validate">
                      <label for="icon_mail">pupkin@mail.ru</label>
                    </div>
                </form>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Свернуть</a>
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Оформить</a>
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Оплатить</a>
    </div>
  </div>