{% include "head.tpl" %}
{% include "modal_view.tpl" %}
{% include "nav_panel.tpl" %}
<div class="row">
      <div class="col s2">&nbsp;</div>
      <div class="col s10 ">
      <!-- Внутренее наполнение пользовательской страницы -->
        <div class="row">
          <h3>625001</h3>
          <h4>пользователь услуг</h4>
          <br><div class="chip"><img src="img/profile/default.jpg" height="270" width="270" alt="Contact Person"><a href="!#">Система ТОР</a></div>
              <div class="chip"><img src="img/profile/default.jpg" height="270" width="270" alt="Contact Person"><a href="!#">Доменное имя</a></div>
              <div class="chip"><img src="img/profile/default.jpg" height="270" width="270" alt="Contact Person"><a href="!#">Геотел</a></div>
              <div class="chip"><img src="img/profile/default.jpg" height="270" width="270" alt="Contact Person"><a href="!#">Личный счет</a></div>
              <div class="chip"><img src="img/profile/default.jpg" height="270" width="270" alt="Contact Person"><a href="!#">Домашний интернет</a></div>
        </div>
      </div>
      </div>
      <div class="row">
        <div class="col s2">&nbsp;</div>
        <div class="col s10">
            <div class="row">
              <div class="col s12">
                <ul class="tabs ">
                  <li class="tab col s6 "><a class="active" href="#shrot-info">Краткая информация</a></li>
                  <li class="tab col s6"><a href="#full-info">Полная информация</a></li>
                </ul>
              </div>
              <div id="shrot-info" class="col s12">
                <ul class="collection with-header">
                  <li class="collection-item"><strong>ФИО:</strong>&nbsp;{{ user.fio }}</li>
                  <li class="collection-item"><strong>Тип:</strong>&nbsp;{{ user.type_user }}</li>
                  <li class="collection-item"><strong>Дополнительныйтелефон:</strong>&nbsp;{{ user.phone }}</li>
                  <li class="collection-item"><strong>Электронная почта:</strong>&nbsp;<a href="mailto:">{{ user.email }}</a></li>
                </ul>
              </div>
              <div id="full-info" class="col s12">
                <ul class="collection with-header">
                  <li class="collection-header"><h4>Основная информация</h4></li>
                  <li class="collection-item"><strong>ФИО:</strong>&nbsp;{{ user.fio }}</li>
                  <li class="collection-item"><strong>Тип:</strong>&nbsp;{{ user.type_user }}</li>
                  <li class="collection-item"><strong>Пол:</strong>&nbsp;{{ user.gender }}</li>
                  <li class="collection-item"><strong>Дата рождения:</strong>&nbsp;{{ user.data_birth }}</li>
                  <li class="collection-item"><strong>Дополнительныйтелефон:</strong>&nbsp;{{ user.phone }}</li>
                  <li class="collection-item"><strong>Электронная почта:</strong>&nbsp;<a href="mailto:">{{ user.email }}</a></li>
                </ul>
                <ul class="collection with-header">
                  <li class="collection-header"><h4>Страницы в социальных сетях</h4></li>
                  <li class="collection-item"><strong>ВКонтакте:</strong>&nbsp;<a href="!#">Ссылка на страницу</a></li>
                  <li class="collection-item"><strong>Twitter:</strong>&nbsp;<a href="!#">Ссылка на страницу</a></li>
                  <li class="collection-item"><strong>Одноклассники:</strong>&nbsp;<a href="!#">Ссылка на страницу</a></li>
                  <li class="collection-item"><strong>Facebook:</strong>&nbsp;<a href="!#">Ссылка на страницу</a></li>
                  <li class="collection-item"><strong>Google+:</strong>&nbsp;<a href="!#">Ссылка на страницу</a></li>
                </ul>
                <ul class="collection with-header">
                  <li class="collection-header"><h4>Услуги</h4></li>
                  <li class="collection-item"><strong>Владеет доменами:</strong>&nbsp;<a href="!#">Ссылка на страницу</a>, <a href="!#">Ссылка на страницу</a>, <a href="!#">Ссылка на страницу</a>, <a href="!#">Ссылка на страницу</a></li>
                  <li class="collection-item"><strong>Владеет номерами:</strong>&nbsp;+7 (932) 470-74-25, +7 (932) 470-74-25, +7 (932) 470-74-25, +7 (932) 470-74-25,</li>
                  <li class="collection-item"><strong>Владеет аккаунтами хостинга:</strong>&nbsp;<a href="!#">user009</a>, <a href="!#">user001</a></li>
                  <li class="collection-item"><strong>Пользуется слугами с:</strong>&nbsp;21.01.2007</li>
                </ul>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="row #e8eaf6 indigo lighten-5">
        <div class="col s2">&nbsp;</div>
        <div class="col s10 ">
          <h4>События компаний</h4>
            <div class="row">
              <div class="col s12 m3">
                <div class="card blue-grey darken-1">
                  <div class="card-content white-text">
                    <span class="card-title">Наименование компании</span>
                    <p><center><img src="img/small-logo.png" height="64" width="108"></center>
                    Пара слов о компании</p>
                  </div>
                  <div class="card-action">
                    <a href="#">Оповещения <span class="new badge">4</span></a>
                    <a href="#">Профиль</a>
                  </div>
                </div>
              </div>
              <div class="col s12 m3">
                <div class="card blue-grey darken-1">
                  <div class="card-content white-text">
                    <span class="card-title">Наименование компании</span>
                    <p><center><img src="img/small-logo.png" height="64" width="108"></center>
                    Пара слов о компании</p>
                  </div>
                  <div class="card-action">
                    <a href="#">Оповещения <span class="new badge">4</span></a>
                    <a href="#">Профиль</a>
                  </div>
                </div>
              </div>
              <div class="col s12 m3">
                <div class="card blue-grey darken-1">
                  <div class="card-content white-text">
                    <span class="card-title">Наименование компании</span>
                    <p><center><img src="img/small-logo.png" height="64" width="108"></center>
                    Пара слов о компании</p>
                  </div>
                  <div class="card-action">
                    <a href="#">Оповещения <span class="new badge">4</span></a>
                    <a href="#">Профиль</a>
                  </div>
                </div>
              </div>
              <div class="col s12 m3">
                <div class="card blue-grey darken-1">
                  <div class="card-content white-text">
                    <span class="card-title">Наименование компании</span>
                    <p><center><img src="img/small-logo.png" height="64" width="108"></center>
                    Пара слов о компании</p>
                  </div>
                  <div class="card-action">
                    <a href="#">Оповещения <span class="new badge">4</span></a>
                    <a href="#">Профиль</a>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col s2">&nbsp;</div>
        <div class="col s10">
        <h4>Мои платежи</h4>
          <ul class="tabs">
            <li class="tab col s3"><a class="active" href="#in-month">За месяц</a></li>
            <li class="tab col s3"><a href="#in-quartal">За квартал</a></li>
            <li class="tab col s3"><a href="#in-year">За год</a></li>
            <li class="tab col s3"><a href="#all">За все время</a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col s2">&nbsp;</div>
        <div class="col s10">
          <div id="in-month" class="col s12">
                    <ul class="collapsible" data-collapsible="accordion">
                    <li>
                      <div class="collapsible-header"><i class="material-icons">trending_up</i>Поступления за месяц</div>
                        <div class="collapsible-body">

                        <p><strong>Всего поступлений за месяц: {{ balance.plus }} рублей</strong>
                           <ul class="collapsible" data-collapsible="accordion">
                              <li>
                                <div class="collapsible-header"><i class="material-icons">trending_up</i>Доход от {{ balance.data_dohod }}</div>
                                <div class="collapsible-body">
                                    <p><strong>Дата поступления:</strong>&nbsp;{{ balance.data_dohod }}<br />
                                    <strong>Время поступления:</strong>&nbsp;{{ balance.time_dohod }}<br />
                                    <strong>Сумма:</strong>&nbsp;{{ balance.plus }}<br />
                                    <strong>Платежная система:</strong>&nbsp;{{ balance.platezh_system }}<br />
                                    <strong>Комментарий:</strong>&nbsp;{{ balance.comment }}</p>

                                </div>
                              </li>

                            </ul></p>
                      </div>
                    </li>
                    <li>
                      <div class="collapsible-header"><i class="material-icons">trending_down</i>Расходы за месяц</div>
                      <div class="collapsible-body">
                          <p><strong>Всего расходов за месяц: {{ balance.minus }} рублей</strong>
                           <ul class="collapsible" data-collapsible="accordion">
                              <li>
                                <div class="collapsible-header"><i class="material-icons">trending_down</i>Тип услуг 1</div>
                                <div class="collapsible-body">
                                  <strong>Всего расходов за месяц по <тип_услуг>: {{ balance.minus }} рублей</strong>
                                  <ul class="collapsible" data-collapsible="accordion">
                                    <li>
                                      <div class="collapsible-header"><i class="material-icons">trending_down</i>Расход от 10.11.2015</div>
                                      <div class="collapsible-body">
                                        <p><strong>Дата поступления:</strong>&nbsp;{{ balance.data_dohod }}<br />
                                        <strong>Время поступления:</strong>&nbsp;{{ balance.time_dohod }}<br />
                                        <strong>Сумма:</strong>&nbsp;{{ balance.minus }}<br />
                                        <strong>Платежная система:</strong>&nbsp;{{ balance.platezh_system }}<br />
                                        <strong>Комментарий:</strong>&nbsp;{{ balance.comment }}</p>

                                      </div>
                                    </li>
                                  </ul>
                                </div>
                              </li>
                            </ul></p>
                      </div>
                    </li>
                    <li>
                      <div class="collapsible-header"><i class="material-icons">credit_card</i>Баланс за год</div>
                      <div class="collapsible-body">
                        <p>
                          <strong>1.Всего доходов за месяц:</strong>&nbsp;10 000 рублей<br />
                          <strong>2. Всего расходов за месяц:</strong>&nbsp;9 500 рублей<br />
                          <strong>2.1. Всего расходов на услуги (тип услуг 1):</strong>&nbsp;1 500 рублей<br />
                          <strong>2.2. Всего расходов на услуги (тип услуг 2):</strong>&nbsp;3 000 рублей<br />
                          <strong>2.3. Всего расходов на услуги (тип услуг 1):</strong>&nbsp;5 000 рублей<br />
                          <strong>3. Остаток на счету:</strong>&nbsp;500 рублей<br />
                          <strong>4. Оборт по счету::</strong>&nbsp;19 500 рублей<br />
                        </p>
                      </div>
                    </li>
                  </ul>
          </div>
          <div id="in-quartal" class="col s12">
<ul class="collapsible" data-collapsible="accordion">
                    <li>
                      <div class="collapsible-header"><i class="material-icons">trending_up</i>Поступления за квартал</div>
                      <div class="collapsible-body">
                        <p><strong>Всего поступлений за квартад: 10 000 рублей</strong>
                           <ul class="collapsible" data-collapsible="accordion">
                              <li>
                                <div class="collapsible-header"><i class="material-icons">trending_up</i>Доход от 10.11.2015</div>
                                <div class="collapsible-body">
                                    <p><strong>Дата поступления:</strong>&nbsp;10.11.2015<br />
                                    <strong>Время поступления:</strong>&nbsp;10:20<br />
                                    <strong>Платежная система:</strong>&nbsp;СБРР-Банк<br />
                                    <strong>Отправитель:</strong>&nbsp;<a href="!#">user123</a><br />
                                    <strong>Комментарий:</strong>&nbsp;комментарий к платежу</p>

                                </div>
                              </li>
                              <li>
                                <div class="collapsible-header"><i class="material-icons">trending_up</i>Доход от 11.11.2015</div>
                                <div class="collapsible-body">
                                    <p><strong>Дата поступления:</strong>&nbsp;11.11.2015<br />
                                    <strong>Время поступления:</strong>&nbsp;10:20<br />
                                    <strong>Платежная система:</strong>&nbsp;СБРР-Банк<br />
                                    <strong>Отправитель:</strong>&nbsp;<a href="!#">user123</a><br />
                                    <strong>Комментарий:</strong>&nbsp;комментарий к платежу</p>

                                </div>
                              </li>
                              <li>
                                <div class="collapsible-header"><i class="material-icons">trending_up</i>Доход от 11.11.2015</div>
                                <div class="collapsible-body">
                                    <p><strong>Дата поступления:</strong>&nbsp;11.11.2015<br />
                                    <strong>Время поступления:</strong>&nbsp;10:35<br />
                                    <strong>Платежная система:</strong>&nbsp;СБРР-Банк<br />
                                    <strong>Отправитель:</strong>&nbsp;<a href="!#">user123</a><br />
                                    <strong>Комментарий:</strong>&nbsp;комментарий к платежу</p>

                                </div>
                              </li>
                            </ul></p>
                      </div>
                    </li>
                    <li>
                      <div class="collapsible-header"><i class="material-icons">trending_down</i>Расходы за квартал</div>
                      <div class="collapsible-body">
                          <p><strong>Всего расходов за квартад: 9 500 рублей</strong>
                           <ul class="collapsible" data-collapsible="accordion">
                              <li>
                                <div class="collapsible-header"><i class="material-icons">trending_down</i>Тип услуг 1</div>
                                <div class="collapsible-body">
                                  <strong>Всего расходов за квартал по <тип_услуг>: 1 500 рублей</strong>
                                  <ul class="collapsible" data-collapsible="accordion">
                                    <li>
                                      <div class="collapsible-header"><i class="material-icons">trending_down</i>Расход от 10.11.2015</div>
                                      <div class="collapsible-body">
                                          <p><strong>Дата оплаты:</strong>&nbsp;10.11.2015<br />
                                          <strong>Время оплаты:</strong>&nbsp;10:20<br />
                                          <strong>Получатель платежа:</strong>&nbsp;<a href="!#">user123</a><br />
                                          <strong>Комментарий:</strong>&nbsp;комментарий к платежу</p>

                                      </div>
                                    </li>
                                    <li>
                                      <div class="collapsible-header"><i class="material-icons">trending_down</i>Расход от 10.11.2015</div>
                                      <div class="collapsible-body">
                                          <p><strong>Дата оплаты:</strong>&nbsp;10.11.2015<br />
                                          <strong>Время оплаты:</strong>&nbsp;10:20<br />
                                          <strong>Получатель платежа:</strong>&nbsp;<a href="!#">user123</a><br />
                                          <strong>Комментарий:</strong>&nbsp;комментарий к платежу</p>
                                      </div>
                                    </li>
                                    <li>
                                      <div class="collapsible-header"><i class="material-icons">trending_down</i>Расход от 10.11.2015</div>
                                      <div class="collapsible-body">
                                          <p><strong>Дата оплаты:</strong>&nbsp;10.11.2015<br />
                                          <strong>Время оплаты:</strong>&nbsp;10:20<br />
                                          <strong>Получатель платежа:</strong>&nbsp;<a href="!#">user123</a><br />
                                          <strong>Комментарий:</strong>&nbsp;комментарий к платежу</p>
                                      </div>
                                    </li>
                                  </ul>
                                </div>
                              </li>
                              <li>
                                <div class="collapsible-header"><i class="material-icons">trending_down</i>Тип услуг 2</div>
                                <div class="collapsible-body">
                                  <strong>Всего расходов за квартал по <тип_услуг>: 3 000 рублей</strong>
                                  <ul class="collapsible" data-collapsible="accordion">
                                    <li>
                                      <div class="collapsible-header"><i class="material-icons">trending_down</i>Расход от 10.11.2015</div>
                                      <div class="collapsible-body">
                                          <p><strong>Дата оплаты:</strong>&nbsp;10.11.2015<br />
                                          <strong>Время оплаты:</strong>&nbsp;10:20<br />
                                          <strong>Получатель платежа:</strong>&nbsp;<a href="!#">user123</a><br />
                                          <strong>Комментарий:</strong>&nbsp;комментарий к платежу</p>

                                      </div>
                                    </li>
                                    <li>
                                      <div class="collapsible-header"><i class="material-icons">trending_down</i>Расход от 10.11.2015</div>
                                      <div class="collapsible-body">
                                          <p><strong>Дата оплаты:</strong>&nbsp;10.11.2015<br />
                                          <strong>Время оплаты:</strong>&nbsp;10:20<br />
                                          <strong>Получатель платежа:</strong>&nbsp;<a href="!#">user123</a><br />
                                          <strong>Комментарий:</strong>&nbsp;комментарий к платежу</p>
                                      </div>
                                    </li>
                                    <li>
                                      <div class="collapsible-header"><i class="material-icons">trending_down</i>Расход от 10.11.2015</div>
                                      <div class="collapsible-body">
                                          <p><strong>Дата оплаты:</strong>&nbsp;10.11.2015<br />
                                          <strong>Время оплаты:</strong>&nbsp;10:20<br />
                                          <strong>Получатель платежа:</strong>&nbsp;<a href="!#">user123</a><br />
                                          <strong>Комментарий:</strong>&nbsp;комментарий к платежу</p>
                                      </div>
                                    </li>
                                  </ul>
                                </div>
                              </li>
                              <li>
                                <div class="collapsible-header"><i class="material-icons">trending_down</i>Тип услуг 3</div>
                                <div class="collapsible-body">
                                  <strong>Всего расходов за квартал по <тип_услуг>: 5 000 рублей</strong>
                                  <ul class="collapsible" data-collapsible="accordion">
                                    <li>
                                      <div class="collapsible-header"><i class="material-icons">trending_down</i>Расход от 10.11.2015</div>
                                      <div class="collapsible-body">
                                          <p><strong>Дата оплаты:</strong>&nbsp;10.11.2015<br />
                                          <strong>Время оплаты:</strong>&nbsp;10:20<br />
                                          <strong>Получатель платежа:</strong>&nbsp;<a href="!#">user123</a><br />
                                          <strong>Комментарий:</strong>&nbsp;комментарий к платежу</p>

                                      </div>
                                    </li>
                                    <li>
                                      <div class="collapsible-header"><i class="material-icons">trending_down</i>Расход от 10.11.2015</div>
                                      <div class="collapsible-body">
                                          <p><strong>Дата оплаты:</strong>&nbsp;10.11.2015<br />
                                          <strong>Время оплаты:</strong>&nbsp;10:20<br />
                                          <strong>Получатель платежа:</strong>&nbsp;<a href="!#">user123</a><br />
                                          <strong>Комментарий:</strong>&nbsp;комментарий к платежу</p>
                                      </div>
                                    </li>
                                    <li>
                                      <div class="collapsible-header"><i class="material-icons">trending_down</i>Расход от 10.11.2015</div>
                                      <div class="collapsible-body">
                                          <p><strong>Дата оплаты:</strong>&nbsp;10.11.2015<br />
                                          <strong>Время оплаты:</strong>&nbsp;10:20<br />
                                          <strong>Получатель платежа:</strong>&nbsp;<a href="!#">user123</a><br />
                                          <strong>Комментарий:</strong>&nbsp;комментарий к платежу</p>
                                      </div>
                                    </li>
                                  </ul>
                                </div>
                              </li>
                            </ul></p>
                      </div>
                    </li>
                    <li>
                      <div class="collapsible-header"><i class="material-icons">credit_card</i>Баланс за квартал</div>
                      <div class="collapsible-body">
                        <p>
                          <strong>1.Всего доходов за квартал:</strong>&nbsp;10 000 рублей<br />
                          <strong>2. Всего расходов за квартал:</strong>&nbsp;9 500 рублей<br />
                          <strong>2.1. Всего расходов на услуги (тип услуг 1):</strong>&nbsp;1 500 рублей<br />
                          <strong>2.2. Всего расходов на услуги (тип услуг 2):</strong>&nbsp;3 000 рублей<br />
                          <strong>2.3. Всего расходов на услуги (тип услуг 1):</strong>&nbsp;5 000 рублей<br />
                          <strong>3. Остаток на счету:</strong>&nbsp;500 рублей<br />
                          <strong>4. Оборт по счету::</strong>&nbsp;19 500 рублей<br />
                        </p>
                      </div>
                    </li>
                  </ul>
          </div>
          <div id="in-year" class="col s12">
                 <ul class="collapsible" data-collapsible="accordion">
                    <li>
                      <div class="collapsible-header"><i class="material-icons">trending_up</i>Поступления за год</div>
                      <div class="collapsible-body">
                        <p><strong>Всего поступлений за год: 10 000 рублей</strong>
                           <ul class="collapsible" data-collapsible="accordion">
                              <li>
                                <div class="collapsible-header"><i class="material-icons">trending_up</i>Доход от 10.11.2015</div>
                                <div class="collapsible-body">
                                    <p><strong>Дата поступления:</strong>&nbsp;10.11.2015<br />
                                    <strong>Время поступления:</strong>&nbsp;10:20<br />
                                    <strong>Платежная система:</strong>&nbsp;СБРР-Банк<br />
                                    <strong>Отправитель:</strong>&nbsp;<a href="!#">user123</a><br />
                                    <strong>Комментарий:</strong>&nbsp;комментарий к платежу</p>

                                </div>
                              </li>
                              <li>
                                <div class="collapsible-header"><i class="material-icons">trending_up</i>Доход от 11.11.2015</div>
                                <div class="collapsible-body">
                                    <p><strong>Дата поступления:</strong>&nbsp;11.11.2015<br />
                                    <strong>Время поступления:</strong>&nbsp;10:20<br />
                                    <strong>Платежная система:</strong>&nbsp;СБРР-Банк<br />
                                    <strong>Отправитель:</strong>&nbsp;<a href="!#">user123</a><br />
                                    <strong>Комментарий:</strong>&nbsp;комментарий к платежу</p>

                                </div>
                              </li>
                              <li>
                                <div class="collapsible-header"><i class="material-icons">trending_up</i>Доход от 11.11.2015</div>
                                <div class="collapsible-body">
                                    <p><strong>Дата поступления:</strong>&nbsp;11.11.2015<br />
                                    <strong>Время поступления:</strong>&nbsp;10:35<br />
                                    <strong>Платежная система:</strong>&nbsp;СБРР-Банк<br />
                                    <strong>Отправитель:</strong>&nbsp;<a href="!#">user123</a><br />
                                    <strong>Комментарий:</strong>&nbsp;комментарий к платежу</p>
                                </div>
                              </li>
                            </ul></p>
                      </div>
                    </li>
                    <li>
                      <div class="collapsible-header"><i class="material-icons">trending_down</i>Расходы за год</div>
                      <div class="collapsible-body">
                          <p><strong>Всего расходов за год: 9 500 рублей</strong>
                           <ul class="collapsible" data-collapsible="accordion">
                              <li>
                                <div class="collapsible-header"><i class="material-icons">trending_down</i>Тип услуг 1</div>
                                <div class="collapsible-body">
                                  <strong>Всего расходов за год по <тип_услуг>: 1 500 рублей</strong>
                                  <ul class="collapsible" data-collapsible="accordion">
                                    <li>
                                      <div class="collapsible-header"><i class="material-icons">trending_down</i>Расход от 10.11.2015</div>
                                      <div class="collapsible-body">
                                          <p><strong>Дата оплаты:</strong>&nbsp;10.11.2015<br />
                                          <strong>Время оплаты:</strong>&nbsp;10:20<br />
                                          <strong>Получатель платежа:</strong>&nbsp;<a href="!#">user123</a><br />
                                          <strong>Комментарий:</strong>&nbsp;комментарий к платежу</p>

                                      </div>
                                    </li>
                                    <li>
                                      <div class="collapsible-header"><i class="material-icons">trending_down</i>Расход от 10.11.2015</div>
                                      <div class="collapsible-body">
                                          <p><strong>Дата оплаты:</strong>&nbsp;10.11.2015<br />
                                          <strong>Время оплаты:</strong>&nbsp;10:20<br />
                                          <strong>Получатель платежа:</strong>&nbsp;<a href="!#">user123</a><br />
                                          <strong>Комментарий:</strong>&nbsp;комментарий к платежу</p>
                                      </div>
                                    </li>
                                    <li>
                                      <div class="collapsible-header"><i class="material-icons">trending_down</i>Расход от 10.11.2015</div>
                                      <div class="collapsible-body">
                                          <p><strong>Дата оплаты:</strong>&nbsp;10.11.2015<br />
                                          <strong>Время оплаты:</strong>&nbsp;10:20<br />
                                          <strong>Получатель платежа:</strong>&nbsp;<a href="!#">user123</a><br />
                                          <strong>Комментарий:</strong>&nbsp;комментарий к платежу</p>
                                      </div>
                                    </li>
                                  </ul>
                                </div>
                              </li>
                              <li>
                                <div class="collapsible-header"><i class="material-icons">trending_down</i>Тип услуг 2</div>
                                <div class="collapsible-body">
                                  <strong>Всего расходов за год по <тип_услуг>: 3 000 рублей</strong>
                                  <ul class="collapsible" data-collapsible="accordion">
                                    <li>
                                      <div class="collapsible-header"><i class="material-icons">trending_down</i>Расход от 10.11.2015</div>
                                      <div class="collapsible-body">
                                          <p><strong>Дата оплаты:</strong>&nbsp;10.11.2015<br />
                                          <strong>Время оплаты:</strong>&nbsp;10:20<br />
                                          <strong>Получатель платежа:</strong>&nbsp;<a href="!#">user123</a><br />
                                          <strong>Комментарий:</strong>&nbsp;комментарий к платежу</p>

                                      </div>
                                    </li>
                                    <li>
                                      <div class="collapsible-header"><i class="material-icons">trending_down</i>Расход от 10.11.2015</div>
                                      <div class="collapsible-body">
                                          <p><strong>Дата оплаты:</strong>&nbsp;10.11.2015<br />
                                          <strong>Время оплаты:</strong>&nbsp;10:20<br />
                                          <strong>Получатель платежа:</strong>&nbsp;<a href="!#">user123</a><br />
                                          <strong>Комментарий:</strong>&nbsp;комментарий к платежу</p>
                                      </div>
                                    </li>
                                    <li>
                                      <div class="collapsible-header"><i class="material-icons">trending_down</i>Расход от 10.11.2015</div>
                                      <div class="collapsible-body">
                                          <p><strong>Дата оплаты:</strong>&nbsp;10.11.2015<br />
                                          <strong>Время оплаты:</strong>&nbsp;10:20<br />
                                          <strong>Получатель платежа:</strong>&nbsp;<a href="!#">user123</a><br />
                                          <strong>Комментарий:</strong>&nbsp;комментарий к платежу</p>
                                      </div>
                                    </li>
                                  </ul>
                                </div>
                              </li>
                              <li>
                                <div class="collapsible-header"><i class="material-icons">trending_down</i>Тип услуг 3</div>
                                <div class="collapsible-body">
                                  <strong>Всего расходов за год по <тип_услуг>: 5 000 рублей</strong>
                                  <ul class="collapsible" data-collapsible="accordion">
                                    <li>
                                      <div class="collapsible-header"><i class="material-icons">trending_down</i>Расход от 10.11.2015</div>
                                      <div class="collapsible-body">
                                          <p><strong>Дата оплаты:</strong>&nbsp;10.11.2015<br />
                                          <strong>Время оплаты:</strong>&nbsp;10:20<br />
                                          <strong>Получатель платежа:</strong>&nbsp;<a href="!#">user123</a><br />
                                          <strong>Комментарий:</strong>&nbsp;комментарий к платежу</p>

                                      </div>
                                    </li>
                                    <li>
                                      <div class="collapsible-header"><i class="material-icons">trending_down</i>Расход от 10.11.2015</div>
                                      <div class="collapsible-body">
                                          <p><strong>Дата оплаты:</strong>&nbsp;10.11.2015<br />
                                          <strong>Время оплаты:</strong>&nbsp;10:20<br />
                                          <strong>Получатель платежа:</strong>&nbsp;<a href="!#">user123</a><br />
                                          <strong>Комментарий:</strong>&nbsp;комментарий к платежу</p>
                                      </div>
                                    </li>
                                    <li>
                                      <div class="collapsible-header"><i class="material-icons">trending_down</i>Расход от 10.11.2015</div>
                                      <div class="collapsible-body">
                                          <p><strong>Дата оплаты:</strong>&nbsp;10.11.2015<br />
                                          <strong>Время оплаты:</strong>&nbsp;10:20<br />
                                          <strong>Получатель платежа:</strong>&nbsp;<a href="!#">user123</a><br />
                                          <strong>Комментарий:</strong>&nbsp;комментарий к платежу</p>
                                      </div>
                                    </li>
                                  </ul>
                                </div>
                              </li>
                            </ul></p>
                      </div>
                    </li>
                    <li>
                      <div class="collapsible-header"><i class="material-icons">credit_card</i>Баланс за год</div>
                      <div class="collapsible-body">
                        <p>
                          <strong>1.Всего доходов за год:</strong>&nbsp;10 000 рублей<br />
                          <strong>2. Всего расходов за год:</strong>&nbsp;9 500 рублей<br />
                          <strong>2.1. Всего расходов на услуги (тип услуг 1):</strong>&nbsp;1 500 рублей<br />
                          <strong>2.2. Всего расходов на услуги (тип услуг 2):</strong>&nbsp;3 000 рублей<br />
                          <strong>2.3. Всего расходов на услуги (тип услуг 1):</strong>&nbsp;5 000 рублей<br />
                          <strong>3. Остаток на счету:</strong>&nbsp;500 рублей<br />
                          <strong>4. Оборт по счету::</strong>&nbsp;19 500 рублей<br />
                        </p>
                      </div>
                    </li>
                  </ul>
          </div>
          <div id="all" class="col s12">
                 <ul class="collapsible" data-collapsible="accordion">
                    <li>
                      <div class="collapsible-header"><i class="material-icons">trending_up</i>Поступления за всё время</div>
                      <div class="collapsible-body">
                        <p><strong>Всего поступлений за все время: 10 000 рублей</strong>
                           <ul class="collapsible" data-collapsible="accordion">
                              <li>
                                <div class="collapsible-header"><i class="material-icons">trending_up</i>Доход от 10.11.2015</div>
                                <div class="collapsible-body">
                                    <p><strong>Дата поступления:</strong>&nbsp;10.11.2015<br />
                                    <strong>Время поступления:</strong>&nbsp;10:20<br />
                                    <strong>Платежная система:</strong>&nbsp;СБРР-Банк<br />
                                    <strong>Отправитель:</strong>&nbsp;<a href="!#">user123</a><br />
                                    <strong>Комментарий:</strong>&nbsp;комментарий к платежу</p>

                                </div>
                              </li>
                              <li>
                                <div class="collapsible-header"><i class="material-icons">trending_up</i>Доход от 11.11.2015</div>
                                <div class="collapsible-body">
                                    <p><strong>Дата поступления:</strong>&nbsp;11.11.2015<br />
                                    <strong>Время поступления:</strong>&nbsp;10:20<br />
                                    <strong>Платежная система:</strong>&nbsp;СБРР-Банк<br />
                                    <strong>Отправитель:</strong>&nbsp;<a href="!#">user123</a><br />
                                    <strong>Комментарий:</strong>&nbsp;комментарий к платежу</p>

                                </div>
                              </li>
                              <li>
                                <div class="collapsible-header"><i class="material-icons">trending_up</i>Доход от 11.11.2015</div>
                                <div class="collapsible-body">
                                    <p><strong>Дата поступления:</strong>&nbsp;11.11.2015<br />
                                    <strong>Время поступления:</strong>&nbsp;10:35<br />
                                    <strong>Платежная система:</strong>&nbsp;СБРР-Банк<br />
                                    <strong>Отправитель:</strong>&nbsp;<a href="!#">user123</a><br />
                                    <strong>Комментарий:</strong>&nbsp;комментарий к платежу</p>

                                </div>
                              </li>
                            </ul></p>
                      </div>
                    </li>
                    <li>
                      <div class="collapsible-header"><i class="material-icons">trending_down</i>Расходы за всё время</div>
                      <div class="collapsible-body">
                          <p><strong>Всего расходов за все время: 9 500 рублей</strong>
                           <ul class="collapsible" data-collapsible="accordion">
                              <li>
                                <div class="collapsible-header"><i class="material-icons">trending_down</i>Тип услуг 1</div>
                                <div class="collapsible-body">
                                  <strong>Всего расходов за все время по <тип_услуг>: 1 500 рублей</strong>
                                  <ul class="collapsible" data-collapsible="accordion">
                                    <li>
                                      <div class="collapsible-header"><i class="material-icons">trending_down</i>Расход от 10.11.2015</div>
                                      <div class="collapsible-body">
                                          <p><strong>Дата оплаты:</strong>&nbsp;10.11.2015<br />
                                          <strong>Время оплаты:</strong>&nbsp;10:20<br />
                                          <strong>Получатель платежа:</strong>&nbsp;<a href="!#">user123</a><br />
                                          <strong>Комментарий:</strong>&nbsp;комментарий к платежу</p>

                                      </div>
                                    </li>
                                    <li>
                                      <div class="collapsible-header"><i class="material-icons">trending_down</i>Расход от 10.11.2015</div>
                                      <div class="collapsible-body">
                                          <p><strong>Дата оплаты:</strong>&nbsp;10.11.2015<br />
                                          <strong>Время оплаты:</strong>&nbsp;10:20<br />
                                          <strong>Получатель платежа:</strong>&nbsp;<a href="!#">user123</a><br />
                                          <strong>Комментарий:</strong>&nbsp;комментарий к платежу</p>
                                      </div>
                                    </li>
                                    <li>
                                      <div class="collapsible-header"><i class="material-icons">trending_down</i>Расход от 10.11.2015</div>
                                      <div class="collapsible-body">
                                          <p><strong>Дата оплаты:</strong>&nbsp;10.11.2015<br />
                                          <strong>Время оплаты:</strong>&nbsp;10:20<br />
                                          <strong>Получатель платежа:</strong>&nbsp;<a href="!#">user123</a><br />
                                          <strong>Комментарий:</strong>&nbsp;комментарий к платежу</p>
                                      </div>
                                    </li>
                                  </ul>
                                </div>
                              </li>
                              <li>
                                <div class="collapsible-header"><i class="material-icons">trending_down</i>Тип услуг 2</div>
                                <div class="collapsible-body">
                                  <strong>Всего расходов за все время по <тип_услуг>: 3 000 рублей</strong>
                                  <ul class="collapsible" data-collapsible="accordion">
                                    <li>
                                      <div class="collapsible-header"><i class="material-icons">trending_down</i>Расход от 10.11.2015</div>
                                      <div class="collapsible-body">
                                          <p><strong>Дата оплаты:</strong>&nbsp;10.11.2015<br />
                                          <strong>Время оплаты:</strong>&nbsp;10:20<br />
                                          <strong>Получатель платежа:</strong>&nbsp;<a href="!#">user123</a><br />
                                          <strong>Комментарий:</strong>&nbsp;комментарий к платежу</p>

                                      </div>
                                    </li>
                                    <li>
                                      <div class="collapsible-header"><i class="material-icons">trending_down</i>Расход от 10.11.2015</div>
                                      <div class="collapsible-body">
                                          <p><strong>Дата оплаты:</strong>&nbsp;10.11.2015<br />
                                          <strong>Время оплаты:</strong>&nbsp;10:20<br />
                                          <strong>Получатель платежа:</strong>&nbsp;<a href="!#">user123</a><br />
                                          <strong>Комментарий:</strong>&nbsp;комментарий к платежу</p>
                                      </div>
                                    </li>
                                    <li>
                                      <div class="collapsible-header"><i class="material-icons">trending_down</i>Расход от 10.11.2015</div>
                                      <div class="collapsible-body">
                                          <p><strong>Дата оплаты:</strong>&nbsp;10.11.2015<br />
                                          <strong>Время оплаты:</strong>&nbsp;10:20<br />
                                          <strong>Получатель платежа:</strong>&nbsp;<a href="!#">user123</a><br />
                                          <strong>Комментарий:</strong>&nbsp;комментарий к платежу</p>
                                      </div>
                                    </li>
                                  </ul>
                                </div>
                              </li>
                              <li>
                                <div class="collapsible-header"><i class="material-icons">trending_down</i>Тип услуг 3</div>
                                <div class="collapsible-body">
                                  <strong>Всего расходов за все время по <тип_услуг>: 5 000 рублей</strong>
                                  <ul class="collapsible" data-collapsible="accordion">
                                    <li>
                                      <div class="collapsible-header"><i class="material-icons">trending_down</i>Расход от 10.11.2015</div>
                                      <div class="collapsible-body">
                                          <p><strong>Дата оплаты:</strong>&nbsp;10.11.2015<br />
                                          <strong>Время оплаты:</strong>&nbsp;10:20<br />
                                          <strong>Получатель платежа:</strong>&nbsp;<a href="!#">user123</a><br />
                                          <strong>Комментарий:</strong>&nbsp;комментарий к платежу</p>

                                      </div>
                                    </li>
                                    <li>
                                      <div class="collapsible-header"><i class="material-icons">trending_down</i>Расход от 10.11.2015</div>
                                      <div class="collapsible-body">
                                          <p><strong>Дата оплаты:</strong>&nbsp;10.11.2015<br />
                                          <strong>Время оплаты:</strong>&nbsp;10:20<br />
                                          <strong>Получатель платежа:</strong>&nbsp;<a href="!#">user123</a><br />
                                          <strong>Комментарий:</strong>&nbsp;комментарий к платежу</p>
                                      </div>
                                    </li>
                                    <li>
                                      <div class="collapsible-header"><i class="material-icons">trending_down</i>Расход от 10.11.2015</div>
                                      <div class="collapsible-body">
                                          <p><strong>Дата оплаты:</strong>&nbsp;10.11.2015<br />
                                          <strong>Время оплаты:</strong>&nbsp;10:20<br />
                                          <strong>Получатель платежа:</strong>&nbsp;<a href="!#">user123</a><br />
                                          <strong>Комментарий:</strong>&nbsp;комментарий к платежу</p>
                                      </div>
                                    </li>
                                  </ul>
                                </div>
                              </li>
                            </ul></p>
                      </div>
                    </li>
                    <li>
                      <div class="collapsible-header"><i class="material-icons">credit_card</i>Баланс за всё время</div>
                      <div class="collapsible-body">
                        <p>
                          <strong>1.Всего доходов за все время:</strong>&nbsp;10 000 рублей<br />
                          <strong>2. Всего расходов за все время:</strong>&nbsp;9 500 рублей<br />
                          <strong>2.1. Всего расходов на услуги (тип услуг 1):</strong>&nbsp;1 500 рублей<br />
                          <strong>2.2. Всего расходов на услуги (тип услуг 2):</strong>&nbsp;3 000 рублей<br />
                          <strong>2.3. Всего расходов на услуги (тип услуг 1):</strong>&nbsp;5 000 рублей<br />
                          <strong>3. Остаток на счету:</strong>&nbsp;500 рублей<br />
                          <strong>4. Оборт по счету::</strong>&nbsp;19 500 рублей<br />
                        </p>
                      </div>
                    </li>
                  </ul>
          </div>
        </div>
      </div>
        <!-- Отступы после формы окончание -->
{% include "footer.tpl" %}