{% include "head.tpl" %}
{% include "modal_view.tpl" %}
{% include "nav_panel.tpl" %}
        <!-- Навигационное меню: конец -->
        <!-- Контент страницы -->
        <!-- Отступы до контента-->
   		<div class="row">
			<div class="col s4">&nbsp;</div>
			<div class="col s4">&nbsp;</div>
			<div class="col s4">&nbsp;</div>
		</div>
   		<div class="row">
			<div class="col s4">&nbsp;</div>
			<div class="col s4">&nbsp;</div>
			<div class="col s4">&nbsp;</div>
		</div>



        <!-- Окончание отступов до контента-->
        <!-- Форма логинизации-->
		<div class="row">
			<div class="col s2">&nbsp;</div>
			<div class="col s10">
      <h2>Мои сообщения</h2>

        <ul class="collection">
          <li class="collection-item avatar">
            <img src="img/profile/55561658_1266873748_400645FlNK_w.jpg" height="532" width="500" alt="" class="circle">
            <span class="title"><a href="">Иванов Иван Иванович</a></span><span class="new badge #2196f3 blue">4</span>
            <p>Специалист технической поддержки<br>
               Заявка #1232543
            </p>
          </li>
          <li class="collection-item avatar">
            <img src="img/profile/63.jpg" height="358" width="500" alt="" class="circle">
            <span class="title"><a href="">Иванов Иван Иванович</a></span>
            <p>Специалист технической поддержки<br>
               Заявка #1232543
            </p>
          </li>
          <li class="collection-item avatar">
            <img src="img/profile/A_k6z5PBASU.jpg" height="604" width="427" alt="" class="circle">
            <span class="title"><a href="">Иванов Иван Иванович</a></span>
            <p>Специалист технической поддержки<br>
               Заявка #1232543
            </p>
          </li>
          <li class="collection-item avatar">
            <img src="img/profile/krasnyy_inzhener_avatar.jpg" height="872" width="873" alt="" class="circle">
            <span class="title"><a href="">Иванов Иван Иванович</a></span> <span class="new badge #2196f3 blue">4</span>
            <p>Специалист технической поддержки<br>
               Заявка #1232543
            </p>
          </li>
          <li class="collection-item avatar">
            <img src="img/profile/55561658_1266873748_400645FlNK_w.jpg" height="532" width="500" alt="" class="circle">
            <span class="title"><a href="">Иванов Иван Иванович</a></span>
            <p>Специалист технической поддержки<br>
               Заявка #1232543
            </p>
          </li>
          <li class="collection-item avatar">
            <img src="img/profile/63.jpg" height="358" width="500" alt="" class="circle">
            <span class="title"><a href="">Иванов Иван Иванович</a></span>
            <p>Специалист технической поддержки<br>
               Заявка #1232543
            </p>
          </li>
          <li class="collection-item avatar">
            <img src="img/profile/A_k6z5PBASU.jpg" height="604" width="427" alt="" class="circle">
            <span class="title"><a href="">Иванов Иван Иванович</a></span>
            <p>Специалист технической поддержки<br>
               Заявка #1232543
            </p>
          </li>
          <li class="collection-item avatar">
            <img src="img/profile/krasnyy_inzhener_avatar.jpg" height="872" width="873" alt="" class="circle">
            <span class="title"><a href="">Иванов Иван Иванович</a></span>
            <p>Специалист технической поддержки<br>
               Заявка #1232543
            </p>
          </li>
        </ul>
            
			</div>
			<div class="col s2">&nbsp;</div>
		</div>
        <!-- Окончание формы логинизации-->
        <!-- Отступы после формы -->
        <div class="row">
          <div class="col s4">&nbsp;</div>
          <div class="col s4">&nbsp;</div>
          <div class="col s4">&nbsp;</div>
        </div>
   		<div class="row">
			<div class="col s4">&nbsp;</div>
			<div class="col s4">&nbsp;</div>
			<div class="col s4">&nbsp;</div>
		</div>
        <!-- Отступы после формы окончание -->
        <!-- Окончание контента страницы --> 
    <!-- Подвал -->

{% include "footer.tpl" %}