{% include "head.tpl" %}
{% include "modal_view.tpl" %}
{% include "nav_panel.tpl" %}
 <div class="row">
      <div class="col s2">&nbsp;</div>
      <div class="col s10 ">
      <!-- Внутренее наполнение пользовательской страницы -->
        <div class="row">
          <h3>625001</h3>
          <h4>пользователь услуг</h4>
          <br><div class="chip"><img src="img/profile/default.jpg" height="270" width="270" alt="Contact Person"><a href="!#">Система ТОР</a></div>
              <div class="chip"><img src="img/profile/default.jpg" height="270" width="270" alt="Contact Person"><a href="!#">Доменное имя</a></div>
              <div class="chip"><img src="img/profile/default.jpg" height="270" width="270" alt="Contact Person"><a href="!#">Геотел</a></div>
              <div class="chip"><img src="img/profile/default.jpg" height="270" width="270" alt="Contact Person"><a href="!#">Личный счет</a></div>
              <div class="chip"><img src="img/profile/default.jpg" height="270" width="270" alt="Contact Person"><a href="!#">Домашний интернет</a></div>
        </div>
      </div>
      </div>
      <div class="row">
        <div class="col s2">&nbsp;</div>
        <div class="col s10">
            <div class="row">
              <div class="col s12">
                <ul class="tabs ">
                  <li class="tab col s6 "><a class="active" href="#shrot-info">Краткая информация</a></li>
                  <li class="tab col s6"><a href="#full-info">Полная информация</a></li>
                </ul>
              </div>
              <div id="shrot-info" class="col s12">
                <ul class="collection with-header">
                  <li class="collection-item"><strong>ФИО:</strong>&nbsp;{{ user.fio }}</li>
                  <li class="collection-item"><strong>Тип:</strong>&nbsp;{{ user.type_user }}</li>
                  <li class="collection-item"><strong>Дополнительныйтелефон:</strong>&nbsp;{{ user.phone }}</li>
                  <li class="collection-item"><strong>Электронная почта:</strong>&nbsp;<a href="mailto:">{{ user.email }}</a></li>
                </ul>
              </div>
              <div id="full-info" class="col s12">
                <ul class="collection with-header">
                  <li class="collection-header"><h4>Основная информация</h4></li>
                  <li class="collection-item"><strong>ФИО:</strong>&nbsp;{{ user.fio }}</li>
                  <li class="collection-item"><strong>Тип:</strong>&nbsp;{{ user.type_user }}</li>
                  <li class="collection-item"><strong>Пол:</strong>&nbsp;{{ user.gender }}</li>
                  <li class="collection-item"><strong>Дата рождения:</strong>&nbsp;{{ user.data_birth }}</li>
                  <li class="collection-item"><strong>Дополнительныйтелефон:</strong>&nbsp;{{ user.phone }}</li>
                  <li class="collection-item"><strong>Электронная почта:</strong>&nbsp;<a href="mailto:">{{ user.email }}</a></li>
                </ul>
                <ul class="collection with-header">
                  <li class="collection-header"><h4>Страницы в социальных сетях</h4></li>
                  <li class="collection-item"><strong>ВКонтакте:</strong>&nbsp;<a href="!#">Ссылка на страницу</a></li>
                  <li class="collection-item"><strong>Twitter:</strong>&nbsp;<a href="!#">Ссылка на страницу</a></li>
                  <li class="collection-item"><strong>Одноклассники:</strong>&nbsp;<a href="!#">Ссылка на страницу</a></li>
                  <li class="collection-item"><strong>Facebook:</strong>&nbsp;<a href="!#">Ссылка на страницу</a></li>
                  <li class="collection-item"><strong>Google+:</strong>&nbsp;<a href="!#">Ссылка на страницу</a></li>
                </ul>
                <ul class="collection with-header">
                  <li class="collection-header"><h4>Услуги</h4></li>
                  <li class="collection-item"><strong>Владеет доменами:</strong>&nbsp;<a href="!#">Ссылка на страницу</a>, <a href="!#">Ссылка на страницу</a>, <a href="!#">Ссылка на страницу</a>, <a href="!#">Ссылка на страницу</a></li>
                  <li class="collection-item"><strong>Владеет номерами:</strong>&nbsp;+7 (932) 470-74-25, +7 (932) 470-74-25, +7 (932) 470-74-25, +7 (932) 470-74-25,</li>
                  <li class="collection-item"><strong>Владеет аккаунтами хостинга:</strong>&nbsp;<a href="!#">user009</a>, <a href="!#">user001</a></li>
                  <li class="collection-item"><strong>Пользуется слугами с:</strong>&nbsp;21.01.2007</li>
                </ul>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="row #e8eaf6 indigo lighten-5">
        <div class="col s2">&nbsp;</div>
        <div class="col s10 ">
          <h4>События компаний</h4>
            <div class="row">
              <div class="col s12 m3">
                <div class="card blue-grey darken-1">
                  <div class="card-content white-text">
                    <span class="card-title">Наименование компании</span>
                    <p><center><img src="img/small-logo.png" height="64" width="108"></center>
                    Пара слов о компании</p>
                  </div>
                  <div class="card-action">
                    <a href="#">Оповещения <span class="new badge">4</span></a>
                    <a href="#">Профиль</a>
                  </div>
                </div>
              </div>
              <div class="col s12 m3">
                <div class="card blue-grey darken-1">
                  <div class="card-content white-text">
                    <span class="card-title">Наименование компании</span>
                    <p><center><img src="img/small-logo.png" height="64" width="108"></center>
                    Пара слов о компании</p>
                  </div>
                  <div class="card-action">
                    <a href="#">Оповещения <span class="new badge">4</span></a>
                    <a href="#">Профиль</a>
                  </div>
                </div>
              </div>
              <div class="col s12 m3">
                <div class="card blue-grey darken-1">
                  <div class="card-content white-text">
                    <span class="card-title">Наименование компании</span>
                    <p><center><img src="img/small-logo.png" height="64" width="108"></center>
                    Пара слов о компании</p>
                  </div>
                  <div class="card-action">
                    <a href="#">Оповещения <span class="new badge">4</span></a>
                    <a href="#">Профиль</a>
                  </div>
                </div>
              </div>
              <div class="col s12 m3">
                <div class="card blue-grey darken-1">
                  <div class="card-content white-text">
                    <span class="card-title">Наименование компании</span>
                    <p><center><img src="img/small-logo.png" height="64" width="108"></center>
                    Пара слов о компании</p>
                  </div>
                  <div class="card-action">
                    <a href="#">Оповещения <span class="new badge">4</span></a>
                    <a href="#">Профиль</a>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col s2">&nbsp;</div>
        <div class="col s10">
        <h4>Мои заявки</h4>
          <ul class="tabs">
            <li class="tab col s3"><a class="#active" href="#in-work">В обработке</a></li>
            <li class="tab col s3"><a href="#in-action">Действующие</a></li>
            <li class="tab col s3"><a href="#closed">Закрытые</a></li>
          </ul>
        </div>
        <div id="in-work" class="col s12">
          <div class="col s2">&nbcp;</div>
          <div class="col s10">
            <ul class="collection">
                <li class="collection-item avatar">
                  <i class="material-icons circle #006064 cyan darken-4">assignment</i>
                  <span class="title">Наименование услуги</span>
                  <p><strong>Дата оформления:</strong>&nbsp;25.10.2015<br />
                  <strong>Тип услуги:</strong>&nbsp;тип_услуги_1<br />
                  <strong>Ответственный специалист:</strong>&nbsp;<a href="!#">user123</a><br />
                  <strong>Статус заявки:</strong>&nbsp;в работе<br />
                  <strong>Статус оплаты:</strong>&nbsp;оплачено<br />
                  </p>
                  <a href="#!" class="secondary-content btn">Открыть</a>
                </li>
                <li class="collection-item avatar">
                  <i class="material-icons circle #006064 cyan darken-4">assignment</i>
                  <span class="title">Наименование услуги</span>
                  <p><strong>Дата оформления:</strong>&nbsp;25.10.2015<br />
                  <strong>Тип услуги:</strong>&nbsp;тип_услуги_1<br />
                  <strong>Ответственный специалист:</strong>&nbsp;<a href="!#">user123</a><br />
                  <strong>Статус заявки:</strong>&nbsp;в работе<br />
                  <strong>Статус оплаты:</strong>&nbsp;оплачено<br />
                  </p>
                  <a href="#!" class="secondary-content btn">Открыть</a>
                </li>
                <li class="collection-item avatar">
                  <i class="material-icons circle #006064 cyan darken-4">assignment</i>
                  <span class="title">Наименование услуги</span>
                  <p><strong>Дата оформления:</strong>&nbsp;25.10.2015<br />
                  <strong>Тип услуги:</strong>&nbsp;тип_услуги_1<br />
                  <strong>Ответственный специалист:</strong>&nbsp;<a href="!#">user123</a><br />
                  <strong>Статус заявки:</strong>&nbsp;в работе<br />
                  <strong>Статус оплаты:</strong>&nbsp;оплачено<br />
                  </p>
                  <a href="#!" class="secondary-content btn">Открыть</a>
                </li>
              </ul>
          </div>
        </div>
        <div id="in-action" class="col s12">
          <div class="col s2">&nbsp;</div>
          <div class="col s10">
          <h4>Тип услуги 1</h4>
              <ul class="collection">
                <li class="collection-item avatar">
                  <i class="material-icons circle #0d47a1 blue darken-4">assignment</i>
                  <span class="title">Наименование услуги</span>
                  <p><strong>Дата оформления:</strong>&nbsp;25.10.2015<br />
                  <strong>Дата начала оказания услуги:</strong>25.11.2015<br />
                  <strong>Текщий статус:</strong>&nbsp;абонентская плата<br />
                  <strong>Статус оплаты:</strong>&nbsp;оплачено<br />
                  <strong>Сумма:</strong>&nbsp;150 рублей<br />
                  <strong>Следующая оплата:</strong>&nbsp;12.12.2015<br />
                  </p>
                  <a href="#!" class="secondary-content btn">Открыть</a>
                </li>
                <li class="collection-item avatar">
                  <i class="material-icons circle #0d47a1 blue darken-4">assignment</i>
                  <span class="title">Наименование услуги</span>
                  <p><strong>Дата оформления:</strong>&nbsp;25.10.2015<br />
                  <strong>Дата начала оказания услуги:</strong>25.10.2015<br />
                  <strong>Текщий статус:</strong>&nbsp;абонентская плата<br />
                  <strong>Статус оплаты:</strong>&nbsp;оплачено<br />
                  <strong>Сумма:</strong>&nbsp;150 рублей<br />
                  <strong>Следующая оплата:</strong>&nbsp;12.12.2015<br />
                  </p>
                  <a href="#!" class="secondary-content btn">Открыть</a>
                </li>
                <li class="collection-item avatar">
                  <i class="material-icons circle #0d47a1 blue darken-4">assignment</i>
                  <span class="title">Наименование услуги</span>
                  <p><strong>Дата оформления:</strong>&nbsp;25.10.2015<br />
                  <strong>Дата начала оказания услуги:</strong>25.10.2015<br />
                  <strong>Текщий статус:</strong>&nbsp;абонентская плата<br />
                  <strong>Статус оплаты:</strong>&nbsp;оплачено<br />
                  <strong>Сумма:</strong>&nbsp;150 рублей<br />
                  <strong>Следующая оплата:</strong>&nbsp;12.12.2015<br />
                  </p>
                  <a href="#!" class="secondary-content btn">Открыть</a>
                </li>
              </ul>
               <h4>Тип услуги 2</h4>
              <ul class="collection">
                <li class="collection-item avatar">
                  <i class="material-icons circle #0d47a1 blue darken-4">assignment</i>
                  <span class="title">Наименование услуги</span>
                  <p><strong>Дата оформления:</strong>&nbsp;25.10.2015<br />
                  <strong>Дата начала оказания услуги:</strong>25.10.2015<br />
                  <strong>Текщий статус:</strong>&nbsp;абонентская плата<br />
                  <strong>Статус оплаты:</strong>&nbsp;оплачено<br />
                  <strong>Сумма:</strong>&nbsp;150 рублей<br />
                  <strong>Следующая оплата:</strong>&nbsp;12.12.2015<br />
                  </p>
                  <a href="#!" class="secondary-content btn">Открыть</a>
                </li>
                <li class="collection-item avatar">
                  <i class="material-icons circle #0d47a1 blue darken-4">assignment</i>
                  <span class="title">Наименование услуги</span>
                  <p><strong>Дата оформления:</strong>&nbsp;25.10.2015<br />
                  <strong>Дата начала оказания услуги:</strong>25.10.2015<br />
                  <strong>Текщий статус:</strong>&nbsp;абонентская плата<br />
                  <strong>Статус оплаты:</strong>&nbsp;оплачено<br />
                  <strong>Сумма:</strong>&nbsp;150 рублей<br />
                  <strong>Следующая оплата:</strong>&nbsp;12.12.2015<br />
                  </p>
                  <a href="#!" class="secondary-content btn">Открыть</a>
                </li>
                <li class="collection-item avatar">
                  <i class="material-icons circle #0d47a1 blue darken-4">assignment</i>
                  <span class="title">Наименование услуги</span>
                  <p><strong>Дата оформления:</strong>&nbsp;25.10.2015<br />
                  <strong>Дата начала оказания услуги:</strong>25.10.2015<br />
                  <strong>Текщий статус:</strong>&nbsp;абонентская плата<br />
                  <strong>Статус оплаты:</strong>&nbsp;оплачено<br />
                  <strong>Сумма:</strong>&nbsp;150 рублей<br />
                  <strong>Следующая оплата:</strong>&nbsp;12.12.2015<br />
                  </p>
                  <a href="#!" class="secondary-content btn">Открыть</a>
                </li>
              </ul>
          </div>
        </div>
        <div id="closed" class="col s12">
          <div class="col s2">&nbsp;</div>
          <div class="col s10">
           <h4>Тип услуги 1</h4>
              <ul class="collection">
                <li class="collection-item avatar">
                  <i class="material-icons circle #b71c1c red darken-4">assignment</i>
                  <span class="title">Наименование услуги</span>
                  <p><strong>Дата оформления:</strong>&nbsp;25.10.2015<br />
                  <strong>Дата начала оказания услуги:</strong>25.10.2015<br />
                  <strong>Дата закрытия:</strong>25.11.2015<br />
                  <strong>Текщий статус:</strong>&nbsp;закрыта<br />
                  <strong>Статус оплаты:</strong>&nbsp;оплачено<br />
                  <strong>Причина закрытия:</strong>&nbsp;несколько слов по причине закрытия<br />
                  </p>
                  <a href="#!" class="secondary-content btn">Открыть</a>
                </li>
                <li class="collection-item avatar">
                  <i class="material-icons circle #b71c1c red darken-4">assignment</i>
                  <span class="title">Наименование услуги</span>
                  <p><strong>Дата оформления:</strong>&nbsp;25.10.2015<br />
                  <strong>Дата начала оказания услуги:</strong>25.10.2015<br />
                  <strong>Дата закрытия:</strong>25.11.2015<br />
                  <strong>Текщий статус:</strong>&nbsp;закрыта<br />
                  <strong>Статус оплаты:</strong>&nbsp;оплачено<br />
                  <strong>Причина закрытия:</strong>&nbsp;несколько слов по причине закрытия<br />
                  </p>
                  <a href="#!" class="secondary-content btn">Открыть</a>
                </li>
                <li class="collection-item avatar">
                  <i class="material-icons circle #b71c1c red darken-4">assignment</i>
                  <span class="title">Наименование услуги</span>
                  <p><strong>Дата оформления:</strong>&nbsp;25.10.2015<br />
                  <strong>Дата начала оказания услуги:</strong>25.10.2015<br />
                  <strong>Дата закрытия:</strong>25.11.2015<br />
                  <strong>Текщий статус:</strong>&nbsp;закрыта<br />
                  <strong>Статус оплаты:</strong>&nbsp;оплачено<br />
                  <strong>Причина закрытия:</strong>&nbsp;несколько слов по причине закрытия<br />
                  </p>
                  <a href="#!" class="secondary-content btn">Открыть</a>
                </li>
              </ul>
              <h4>Тип услуги 2</h4>
              <ul class="collection">
                <li class="collection-item avatar">
                  <i class="material-icons circle #b71c1c red darken-4">assignment</i>
                  <span class="title">Наименование услуги</span>
                  <p><strong>Дата оформления:</strong>&nbsp;25.10.2015<br />
                  <strong>Дата начала оказания услуги:</strong>25.10.2015<br />
                  <strong>Дата закрытия:</strong>25.11.2015<br />
                  <strong>Текщий статус:</strong>&nbsp;закрыта<br />
                  <strong>Статус оплаты:</strong>&nbsp;оплачено<br />
                  <strong>Причина закрытия:</strong>&nbsp;несколько слов по причине закрытия<br />
                  </p>
                  <a href="#!" class="secondary-content btn">Открыть</a>
                </li>
                <li class="collection-item avatar">
                  <i class="material-icons circle #b71c1c red darken-4">assignment</i>
                  <span class="title">Наименование услуги</span>
                  <p><strong>Дата оформления:</strong>&nbsp;25.10.2015<br />
                  <strong>Дата начала оказания услуги:</strong>25.10.2015<br />
                  <strong>Дата закрытия:</strong>25.11.2015<br />
                  <strong>Текщий статус:</strong>&nbsp;закрыта<br />
                  <strong>Статус оплаты:</strong>&nbsp;оплачено<br />
                  <strong>Причина закрытия:</strong>&nbsp;несколько слов по причине закрытия<br />
                  </p>
                  <a href="#!" class="secondary-content btn">Открыть</a>
                </li>
                <li class="collection-item avatar">
                  <i class="material-icons circle #b71c1c red darken-4">assignment</i>
                  <span class="title">Наименование услуги</span>
                  <p><strong>Дата оформления:</strong>&nbsp;25.10.2015<br />
                  <strong>Дата начала оказания услуги:</strong>25.10.2015<br />
                  <strong>Дата закрытия:</strong>25.11.2015<br />
                  <strong>Текщий статус:</strong>&nbsp;закрыта<br />
                  <strong>Статус оплаты:</strong>&nbsp;оплачено<br />
                  <strong>Причина закрытия:</strong>&nbsp;несколько слов по причине закрытия<br />
                  </p>
                  <a href="#!" class="secondary-content btn">Открыть</a>
                </li>
              </ul>
          </div>
        </div>
      </div>
        <!-- Отступы после формы окончание -->
        <!-- Окончание контента страницы -->
{% include "footer.tpl" %}