{% include "head.tpl" %}
{% include "modal_view.tpl" %}
{% include "nav_panel.tpl" %}
        <!-- Навигационное меню: конец -->
        <!-- Контент страницы -->
        <!-- Отступы до контента-->
      <div class="row">
      <div class="col s4">&nbsp;</div>
      <div class="col s4">&nbsp;</div>
      <div class="col s4">&nbsp;</div>
    </div>
      <div class="row">
      <div class="col s4">&nbsp;</div>
      <div class="col s4">&nbsp;</div>
      <div class="col s4">&nbsp;</div>
    </div>



        <!-- Окончание отступов до контента-->
        <!-- Форма логинизации-->
    <div class="row">
      <div class="col s2">&nbsp;</div>
      <div class="col s8">
        
        <div class="row">
          <div class="col s12">
            <div class="card blue-grey #e8eaf6 indigo lighten-5">
              <div class="card-content black-text">
                <span class="card-title">О компании</span>
                <p>
                <center><img src="img/logo.png" height="196" width="330">
                <br /><strong>Договор-оферта для пользователей сервиса</strong></center>
                <br />Текст оферты
                <table>
                <thead>
                  <tr>
                      <th data-field="map">Схема проезда  </th>
                      <th data-field="coll-zero">&nbsp;</th>
                      <th data-field="coll-one">Контакты</th>
                      <th data-field="coll-two">&nbsp;</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>&nbsp;</td>
                    <td><i class="material-icons">language</i></td>
                    <td>Адрес:</td>
                    <td>625000. Россия. Тюменская область EXAMPLE</td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                    <td><i class="material-icons">phone</i></td>
                    <td>Телефон:</td>
                    <td>EXAMPLE</td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                    <td><i class="material-icons">email</i></td>
                    <td>Email:</td>
                    <td><a href="maito:EXAMPLE@EXAMPLE.ru">EXAMPLE@EXAMPLE.ru</a></td>
                  </tr>
                </tbody>
              </table>
                </p>
              </div>
              <div class="card-action">
                <a href="https://EXAMPLE.ru" class="btn #283593 indigo darken-3 white-text">Перейти на сайт компании</a>
                <a href="about.html" class="btn #283593 indigo darken-3 white-text">Перейти информации о компании</a>
              </div>
            </div>
          </div>
        </div>
            

      </div>
      <div class="col s2">&nbsp;</div>
    </div>
        <!-- Окончание формы логинизации-->
        <!-- Отступы после формы -->
        <div class="row">
          <div class="col s4">&nbsp;</div>
          <div class="col s4">&nbsp;</div>
          <div class="col s4">&nbsp;</div>
        </div>
      <div class="row">
      <div class="col s4">&nbsp;</div>
      <div class="col s4">&nbsp;</div>
      <div class="col s4">&nbsp;</div>
    </div>
        <!-- Отступы после формы окончание -->
        <!-- Окончание контента страницы --> 
    <!-- Подвал -->

{% include "footer.tpl" %}