
{% include "head.tpl" %}
{##}
{% include "modal_view.tpl" %}
{% include "nav_panel.tpl" %}
{# Модальное окно покупки#}

        <!-- Контент страницы -->
        <!-- Окончание отступов до контента-->
        <!-- Форма логинизации-->
		<div class="row">
			<div class="col s2">&nbsp;</div>
			<div class="col s10 ">
      <!-- Внутренее наполнение пользовательской страницы -->
        <div class="row">
          <h3>625001</h3>
          <h4>пользователь услуг</h4>
          <br><div class="chip"><img src="img/profile/default.jpg" height="270" width="270" alt="Contact Person"><a href="!#">Система EXAMPLE</a></div>
              <div class="chip"><img src="img/profile/default.jpg" height="270" width="270" alt="Contact Person"><a href="!#">Доменное имя</a></div>
              <div class="chip"><img src="img/profile/default.jpg" height="270" width="270" alt="Contact Person"><a href="!#">EXAMPLE</a></div>
              <div class="chip"><img src="img/profile/default.jpg" height="270" width="270" alt="Contact Person"><a href="!#">Личный счет</a></div>
              <div class="chip"><img src="img/profile/default.jpg" height="270" width="270" alt="Contact Person"><a href="!#">Домашний интернет</a></div>
        </div>
      </div>
			</div>
      <div class="row">
        <div class="col s2">&nbsp;</div>
        <div class="col s10">
            <div class="row">
              <div class="col s12">
                <ul class="tabs ">
                  <li class="tab col s6 "><a class="active" href="#shrot-info">Краткая информация</a></li>
                  <li class="tab col s6"><a href="#full-info">Полная информация</a></li>
                </ul>
              </div>
              <div id="shrot-info" class="col s12">
                <ul class="collection with-header">
                  <li class="collection-item"><strong>ФИО:</strong>&nbsp;{{ user.fio }}</li>
                  <li class="collection-item"><strong>Тип:</strong>&nbsp;{{ user.type_user }}</li>
                  <li class="collection-item"><strong>Дополнительныйтелефон:</strong>&nbsp;{{ user.phone }}</li>
                  <li class="collection-item"><strong>Электронная почта:</strong>&nbsp;<a href="mailto:">{{ user.email }}</a></li>
                </ul>
              </div>
              <div id="full-info" class="col s12">
                <ul class="collection with-header">
                  <li class="collection-header"><h4>Основная информация</h4></li>
                  <li class="collection-item"><strong>ФИО:</strong>&nbsp;{{ user.fio }}</li>
                  <li class="collection-item"><strong>Тип:</strong>&nbsp;{{ user.type_user }}</li>
                  <li class="collection-item"><strong>Пол:</strong>&nbsp;{{ user.gender }}</li>
                  <li class="collection-item"><strong>Дата рождения:</strong>&nbsp;{{ user.data_birth }}</li>
                  <li class="collection-item"><strong>Дополнительныйтелефон:</strong>&nbsp;{{ user.phone }}</li>
                  <li class="collection-item"><strong>Электронная почта:</strong>&nbsp;<a href="mailto:">{{ user.email }}</a></li>
                </ul>
                <ul class="collection with-header">
                  <li class="collection-header"><h4>Страницы в социальных сетях</h4></li>
                  <li class="collection-item"><strong>ВКонтакте:</strong>&nbsp;<a href="!#">Ссылка на страницу</a></li>
                  <li class="collection-item"><strong>Twitter:</strong>&nbsp;<a href="!#">Ссылка на страницу</a></li>
                  <li class="collection-item"><strong>Одноклассники:</strong>&nbsp;<a href="!#">Ссылка на страницу</a></li>
                  <li class="collection-item"><strong>Facebook:</strong>&nbsp;<a href="!#">Ссылка на страницу</a></li>
                  <li class="collection-item"><strong>Google+:</strong>&nbsp;<a href="!#">Ссылка на страницу</a></li>
                </ul>
                <ul class="collection with-header">
                  <li class="collection-header"><h4>Услуги</h4></li>
                  <li class="collection-item"><strong>Владеет доменами:</strong>&nbsp;<a href="!#">Ссылка на страницу</a>, <a href="!#">Ссылка на страницу</a>, <a href="!#">Ссылка на страницу</a>, <a href="!#">Ссылка на страницу</a></li>
                  <li class="collection-item"><strong>Владеет номерами:</strong>&nbsp;+7 (932) 470-74-25, +7 (932) 470-74-25, +7 (932) 470-74-25, +7 (932) 470-74-25,</li>
                  <li class="collection-item"><strong>Владеет аккаунтами хостинга:</strong>&nbsp;<a href="!#">user009</a>, <a href="!#">user001</a></li>
                  <li class="collection-item"><strong>Пользуется слугами с:</strong>&nbsp;{{ user.data_start }}</li>
                </ul>
              </div>
            </div>
        </div>
      </div>
		</div>
    <div class="row #e8eaf6 indigo lighten-5">
      <div class="col s2">&nbsp;</div>
      <div class="col s10 ">
        <h4>События компаний</h4>
          <div class="row">
            <div class="col s12 m3">
              <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                  <span class="card-title">Наименование компании</span>
                  <p><center><img src="img/small-logo.png" height="64" width="108"></center>
                  Пара слов о компании</p>
                </div>
                <div class="card-action">
                  <a href="#">Оповещения <span class="new badge">4</span></a>
                  <a href="#">Профиль</a>
                </div>
              </div>
            </div>
            <div class="col s12 m3">
              <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                  <span class="card-title">Наименование компании</span>
                  <p><center><img src="img/small-logo.png" height="64" width="108"></center>
                  Пара слов о компании</p>
                </div>
                <div class="card-action">
                  <a href="#">Оповещения <span class="new badge">4</span></a>
                  <a href="#">Профиль</a>
                </div>
              </div>
            </div>
            <div class="col s12 m3">
              <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                  <span class="card-title">Наименование компании</span>
                  <p><center><img src="img/small-logo.png" height="64" width="108"></center>
                  Пара слов о компании</p>
                </div>
                <div class="card-action">
                  <a href="#">Оповещения <span class="new badge">4</span></a>
                  <a href="#">Профиль</a>
                </div>
              </div>
            </div>
            <div class="col s12 m3">
              <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                  <span class="card-title">Наименование компании</span>
                  <p><center><img src="img/small-logo.png" height="64" width="108"></center>
                  Пара слов о компании</p>
                </div>
                <div class="card-action">
                  <a href="#">Оповещения <span class="new badge">4</span></a>
                  <a href="#">Профиль</a>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="col s2">&nbsp;</div>
      <div class="col s10">
        <div class="col s12">
                <ul class="tabs ">
                  <li class="tab col s6 "><a class="active" href="#my-wall">Моя стена</a></li>
                  <li class="tab col s6"><a href="#company-wall">Стена компании</a></li>
                </ul>
        </div>
        <div id="my-wall" class="col s12">
         <ul class="collection with-header">
          <li class="collection-header"><h4>Моя стена</h4></li>
          <li class="collection-item avatar">
            <i class="material-icons circle">folder</i>
            <span class="title">Title</span>
            <p>First Line <br>
               Second Line
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
          </li>
          <li class="collection-item avatar">
            <i class="material-icons circle">folder</i>
            <span class="title">Title</span>
            <p>First Line <br>
               Second Line
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
          </li>
          <li class="collection-item avatar">
            <i class="material-icons circle green">insert_chart</i>
            <span class="title">Title</span>
            <p>First Line <br>
               Second Line
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
          </li>
          <li class="collection-item avatar">
            <i class="material-icons circle red">play_arrow</i>
            <span class="title">Title</span>
            <p>First Line <br>
               Second Line
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
          </li>
          <li class="collection-item avatar">
            <i class="material-icons circle">folder</i>
            <span class="title">Title</span>
            <p>First Line <br>
               Second Line
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
          </li>
          <li class="collection-item avatar">
            <i class="material-icons circle">folder</i>
            <span class="title">Title</span>
            <p>First Line <br>
               Second Line
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
          </li>
          <li class="collection-item avatar">
            <i class="material-icons circle green">insert_chart</i>
            <span class="title">Title</span>
            <p>First Line <br>
               Second Line
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
          </li>
          <li class="collection-item avatar">
            <i class="material-icons circle red">play_arrow</i>
            <span class="title">Title</span>
            <p>First Line <br>
               Second Line
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
          </li>
          <li class="collection-item avatar">
            <i class="material-icons circle">folder</i>
            <span class="title">Title</span>
            <p>First Line <br>
               Second Line
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
          </li>
          <li class="collection-item avatar">
            <i class="material-icons circle">folder</i>
            <span class="title">Title</span>
            <p>First Line <br>
               Second Line
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
          </li>
          <li class="collection-item avatar">
            <i class="material-icons circle green">insert_chart</i>
            <span class="title">Title</span>
            <p>First Line <br>
               Second Line
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
          </li>
          <li class="collection-item avatar">
            <i class="material-icons circle red">play_arrow</i>
            <span class="title">Title</span>
            <p>First Line <br>
               Second Line
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
          </li>
        </ul>
        <p><center>
         <ul class="pagination">
            <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
            <li class="active"><a href="#!">1</a></li>
            <li class="waves-effect"><a href="#!">2</a></li>
            <li class="waves-effect"><a href="#!">3</a></li>
            <li class="waves-effect"><a href="#!">4</a></li>
            <li class="waves-effect"><a href="#!">5</a></li>
            <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
          </ul>
        </center></p>
      </div>
      <div id="company-wall" class="col s12">
         <ul class="collection with-header">
          <li class="collection-header"><h4>События системы</h4></li>
          <li class="collection-item avatar">
            <i class="material-icons circle">folder</i>
            <span class="title">Title</span>
            <p>First Line <br>
               Second Line
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
          </li>
          <li class="collection-item avatar">
            <i class="material-icons circle">folder</i>
            <span class="title">Title</span>
            <p>First Line <br>
               Second Line
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
          </li>
          <li class="collection-item avatar">
            <i class="material-icons circle green">insert_chart</i>
            <span class="title">Title</span>
            <p>First Line <br>
               Second Line
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
          </li>
          <li class="collection-item avatar">
            <i class="material-icons circle red">play_arrow</i>
            <span class="title">Title</span>
            <p>First Line <br>
               Second Line
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
          </li>
          <li class="collection-item avatar">
            <i class="material-icons circle">folder</i>
            <span class="title">Title</span>
            <p>First Line <br>
               Second Line
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
          </li>
          <li class="collection-item avatar">
            <i class="material-icons circle">folder</i>
            <span class="title">Title</span>
            <p>First Line <br>
               Second Line
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
          </li>
          <li class="collection-item avatar">
            <i class="material-icons circle green">insert_chart</i>
            <span class="title">Title</span>
            <p>First Line <br>
               Second Line
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
          </li>
          <li class="collection-item avatar">
            <i class="material-icons circle red">play_arrow</i>
            <span class="title">Title</span>
            <p>First Line <br>
               Second Line
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
          </li>
          <li class="collection-item avatar">
            <i class="material-icons circle">folder</i>
            <span class="title">Title</span>
            <p>First Line <br>
               Second Line
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
          </li>
          <li class="collection-item avatar">
            <i class="material-icons circle">folder</i>
            <span class="title">Title</span>
            <p>First Line <br>
               Second Line
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
          </li>
          <li class="collection-item avatar">
            <i class="material-icons circle green">insert_chart</i>
            <span class="title">Title</span>
            <p>First Line <br>
               Second Line
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
          </li>
          <li class="collection-item avatar">
            <i class="material-icons circle red">play_arrow</i>
            <span class="title">Title</span>
            <p>First Line <br>
               Second Line
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
          </li>
        </ul>
        <p><center>
         <ul class="pagination">
            <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
            <li class="active"><a href="#!">1</a></li>
            <li class="waves-effect"><a href="#!">2</a></li>
            <li class="waves-effect"><a href="#!">3</a></li>
            <li class="waves-effect"><a href="#!">4</a></li>
            <li class="waves-effect"><a href="#!">5</a></li>
            <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
          </ul>
        </center></p>
      </div>
      </div>
      </div>
    </div>
        <!-- Отступы после формы окончание -->
        <!-- Окончание контента страницы --> 
    <!-- Подвал -->
    {% include "footer.tpl" %}